#
# Configuration of LunaStore
#



SITE_URL = "" # url of site; example: shop.myslivets.com

# OpenID (Authentik) config
OIDC_CLIENT_ID = "..."
OIDC_CLIENT_SECRET = "..."
OIDC_ENDPOINT = "..."
OIDC_TOKEN_ENDPOINT = "..."
OIDC_USER_ENDPOINT = "..."
LOGIN_REDIRECT_URL = "..."
LOGOUT_REDIRECT_URL = "..."
OIDC_SIGN_ALGO = "..."
OIDC_JWKS_ENDPOINT = "..."

# Database Configuration
DB_NAME = "..."
DB_USER = "db"
DB_PASSWORD = "..."
DB_HOST = "..." # since postgresql is inside docker, host will be 'db';
DB_PORT = "..."

# Media Configuration
EXTERNAL_MEDIA_URL="http://192.168.1.10/media/"

# Django Configuration
SECRET_KEY='...'

DEBUG = "True" # DEBUG must be "True" if you will setup dev version of lunastore; else, set DEBUG = "False" if you want to setup prod version

# LunaSpire Engine Configuration
LUNASPIRE_SECRET_KEY = ""
LUNASPIRE_URL = ""
API_URL = "http://localhost:7088"
