#
# Configuration of LunaStore
#

VERSION = "1.7.0"

# OpenID (Authentik) config
OIDC_CLIENT_ID = "..."
OIDC_CLIENT_SECRET = "..."
OIDC_ENDPOINT = "..."
OIDC_TOKEN_ENDPOINT = "..."
OIDC_USER_ENDPOINT = "..."
LOGIN_REDIRECT_URL = "..."
LOGOUT_REDIRECT_URL = "..."
OIDC_SIGN_ALGO = "..."
OIDC_JWKS_ENDPOINT = "..."

# Database Configuration
DB_NAME = "..."
DB_USER = "db"
DB_PASSWORD = "..."
DB_HOST = "..." # since postgresql is inside docker, host will be 'db';
DB_PORT = "..."

# Media Configuration
EXTERNAL_MEDIA_URL="http://192.168.1.10/media/"

# Django Configuration
SECRET_KEY='...'

DEBUG = "True" # DEBUG must be "True" if you will setup dev version of lunastore; else, set DEBUG = "False" if you want to setup prod version

# LunaSpire Configuration
LUNASPIRE_SECRET_KEY = "supersecretkey"
LUNASPIRE_URL = "http://192.168.1.10:8080"
API_URL = "http://192.168.1.10:7088"

# LunaStore Configuration
ALLOWED_HOSTS = "192.168.1.10;192.168.1.1"
CORS_ALLOWED_ORIGINS = "http://192.168.1.10;http://192.168.1.1"
MOTD_LIST = "Windows XP Professional;время подавать напитки и вершить судьбы"
CSRF_TRUSTED_ORIGINS = "https://lunastore.app"

SESSION_COOKIE_DOMAIN = ".lunastore.app"
CSRF_COOKIE_DOMAIN = ".lunastore.app"

# Authorization config
BCRYPT_ROUNDS = 12

# if REGISTRATION_IS_ENABLED = True, we will render register.html on '/register.php' path; if False, we will render register_on.html
REGISTRATION_IS_ENABLED = "True"

# if DEVELOPER_REGISTRATION_IS_ENABLED = True, we will allow users to send dev status requests
DEVELOPER_REGISTRATION_IS_ENABLED = "True"

# User Activity Log (include IPs) retention period in days (because storage limitation gdpr; we must store data for the shortest time possible)
RETENTION_ACTIVITY_LOG_DAYS = 0

# if INVITES_ON_REGISTER = True, registration will be accesible only via invites :3
INVITES_ON_REGISTER = "True"
MAX_INVITE_USES_COUNT = 3
MAX_INVITE_DAYS_LIMIT = 7

ENABLE_DRM = "True"
