#
# Configuration of LunaStore
#



SITE_URL = "" # url of site; example: shop.myslivets.com

# OpenID (Authentik) config
OIDC_CLIENT_ID = "..."
OIDC_CLIENT_SECRET = "..."
OIDC_ENDPOINT = "..."
OIDC_TOKEN_ENDPOINT = "..."
OIDC_USER_ENDPOINT = "..."
LOGIN_REDIRECT_URL = "..."
LOGOUT_REDIRECT_URL = "..."
OIDC_SIGN_ALGO = "..."
OIDC_JWKS_ENDPOINT = "..."

# Database Configuration
DB_NAME = "..."
DB_USER = "..."
DB_PASSWORD = "..."
DB_HOST = "..."
DB_PORT = "..."

# Media Configuration 
EXTERNAL_MEDIA_URL="http://192.168.1.10/media/"