Django==6.0.3
pillow
django[bcrypt]
django-simple-captcha
pycodestyle
django-unfold
mozilla-django-oidc
dotenv
django-cleanup
psycopg[binary]
djangorestframework
drf-spectacular
django-safedelete
gunicorn
PyJWT
django-cors-headers
django-extensions
whitenoise
django-modeltranslation
django-user_agents
django-redis
user_agents
django-smart-ratelimit
dnspython
disposable-email-domains
pyotp
qrcode
