Django==6.0
pillow
django[bcrypt]
django-simple-captcha
pycodestyle
django-unfold
mozilla-django-oidc
dotenv
django-cleanup
psycopg[binary]
djangorestframework
drf-spectacular
django-safedelete
gunicorn
