.oprj_layout{
	position: relative;
	display: inline-block;
	text-align: right;
}
.oprj{
	cursor: pointer;
}
.oprj_list{
	text-align: left;
	position: absolute;
	margin-top: 8px;
	border: 1px solid #777;
	background: #000;
	width: 140px;
	display: none;
}
.oprj_item{
	padding: 4px 8px;
	cursor: pointer;
}
.oprj_item:hover{
	background: #353535;
}