.regform {
    padding: 12px;
    background: #ffffff;
    border-top: 1px solid #7f9db9;
}

.regform label {
    display: block;
    margin-bottom: 6px;
}

.input-text {
    width: 240px;
    border: 1px solid #7f9db9;
    padding: 3px;
    font: 11px Tahoma;
    background: #fff;
}

.input-text:focus {
    border-color: #316ac5;
    background-color: #fffef2;
}

.regform select {
    border: 1px solid #7f9db9;
    font: 11px Tahoma;
    padding: 5px;
    background: #fff;
}

.action_button{
	border:1px solid #7aa0e6;
	background:#2f78d6;
	color:#fff;
	padding:4px 6px;
	font-size:12px;
	text-decoration: none;
}

.agree {
    margin: 6px 0;
}

.regform_label{
    font-size: 10px;
    color: #b3b3b3;
}

.reg_pad{
    padding: 5px;
}

.register_card{
	margin-bottom:12px;
	border:1px solid #cfe1ff;
	background:#ffffff;
	padding:6px;
}

.reg_title{
    margin-bottom: 5px;
}