{% load static %}
{% load app %}
<div class="content">
        <!--[if IE 6]>
  <style type="text/css">
   .splash_text{display: inline-block!important;}
  </style>
  <![endif]-->
      <link rel="stylesheet" href='{% static "./css/stpage.css"%}'>
      <script src="{% static './js/search_mini.js'%}"></script>
      <link rel="stylesheet" href='{% static "./css/main.css"%}'>
        
      <div class="backb"><li class="back"><a href="/">Назад</a></li></div>
        <div class="separator_store"></div>


      <div class="section">
        <div class="st_general_card">
          
          <div class="st_app_icon"><img src='{{ app.icon.url }}' alt="{{ app.title }} icon" style="height: 100px; width: 100px;"></div>
          <div class="st_card_info"></div>
          <div class="st_card_title">{{ app.title }}</div>
          <div class="st_precard">
          <div class="st_card_desc">{{ app.slogan }}</div>
          </div>

          <div class="st_card_author">Автор: <a href="/profile.php?id=685">ghisler.com</a></div>
          
          <div class="st_general_card">
          <div class="st_price demo">Демо, далее $49.99</div>
          </div>

          <div class="st_clearb"> </div>
<b class="setup"><a href="{{ app.download_url }}"><div class="setup_button_img"></div><div class="st_inst_button">Установить</div></a></b>
        <div class="st_clearb"> </div></div></div>
                            <div class="st_headerline"></div>

          
<div class="st_general_card">
  
  <!-- div class="splash"><div class="info_splash"><div class="info_icon_small"></div><div class="splash_text">Страница в магазине создана, однако её владелец пока что ещё ничего не загрузил. Зайдите на эту страницу позже.</div></div></div -->
   {% demo_visible app_id %}
   {% dmca_visible app_id %}
  <!-- div class="splash"><div class="error_splash"><div class="error_icon_small"></div><div class="splash_text">По запросу исходного правообладателя скачать файл на данный момент не получится. Приносим свои извинения.</div></div></div -->

</div>
        

<div class="st_other_card">
<h2>Скриншоты</h2>
        <div class="separator_store"></div>
        <div class="st_screenshots_container">
        {% for screenshot_path in app.screenshots %}
        <div class="st_scr">
            <a href="{% static screenshot_path %}"><img src="{% static screenshot_path %}" alt="Скриншот" style="width: 120px; height: 90px; float: n;"></a>
            {% empty %}
            <p>Скриншотов нет.</p>
        {% endfor %}
        </div>
        </div>

        </div>

        <div class="st_other_card">
        <h2>Дополнительная информация</h2>
        <div class="separator_store"></div>

        <div class="st_desc">{{ app.description }}</div>

        </div>

        <div class="st_other_card">
        <h2>Действия</h2>
        <div class="separator_store"></div>
          <div class="actionsm">
            <li class="offsite"><a href="{{ app.developer_site }}">Перейти на официальный сайт разработчика</a></li>
            <li class="alert"><a href="/report.php?act=new&app_id={aid}">Пожаловаться на приложение</a></li>
            <li class="otherapps"><a href="/search.php?page=apps&author_id={pid}">Посмотреть другие программы автора</a></li>
          </div>
          <i>Количество скачиваний: 465688</i>
        </div>

        <div class="st_clearb"> </div>

    </div>
  </div>