{% load i18n %}
{% load static %}
<link rel="stylesheet" href='{% static "./css/main.css"%}'>
{% for category in categories %}
{% if active_category and category.id == active_category.id %}
<a href="/category.php?id={{ category.id }}"><li class="{{ category.icon }}" id="active">{{ category.name }}</li></a>
{% else %}
<a href="/category.php?id={{ category.id }}"><li class="{{ category.icon }}">{{ category.name }}</li></a>
{% endif %}
{% empty %}
    <li>{% trans "INFO_CATEGORY_LIST_EMPTY" %}</li>
{% endfor %}
