{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "PAGE_2FA_PASSWORD_CONFIRM_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static './css/settings.css'%}">
<link rel="stylesheet" href="{% static './css/profile.css'%}">
<div class="content">
    <div class="preferences">
        <div class="preferences_info">
            <div class="preferences_title">{% trans "PAGE_SETTINGS_TITLE" %}</div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="section">
        <div class="profile_block">{% trans "PAGE_2FA_PASSWORD_CONFIRM" %}</div>
        <div class="profile_block_content">
            <p>{% trans "PAGE_2FA_PASSWORD_PROMPT" %}</p>
            <form method="POST">
                {% csrf_token %}
                <div class="pref_pad">
                    <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_CUR_PASS" %}</div>
                    <input type="password" name="password" class="input-text" required>
                </div>
                <br>
                <input type="submit" class="action_button" value="{% trans 'PAGE_2FA_CONTINUE_BTN' %}">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
