{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="headerline"></div>
<div class="main">
<div class="error_icon"></div>
  <div class="content" style="width:620px!important;">
    <div class="section">
      <h2>{% trans "404_TITLE" %}</h2>
      {% trans "404_ELEMENT_NOT_FOUND" %}<br>
      {% trans "404_ELEMENT_NOT_FOUND_2" %}<br>
      <br>{% trans "404_ELEMENT_NOT_FOUND_3" %}<br><br>
      <div class="action"><a href="/">{% trans "404_GO_TO_HOME" %}</a></div>
    </div>
  </div>
</div>
{% endblock %}
