{% extends 'base.html' %}
{% block content %}
<div class="headerline"></div>
<div class="main">
<div class="error_icon"></div>
  <div class="content" style="width:620px!important;">
    <div class="section">
      <h2>Произошла ошибка</h2>
      Запрашиваемый элемент или ссылка, которую вы хотите посетить, не найдены на нашем сайте. <br>Мы со всех сил пытались найти, правда.<br><br> Если это было доступно раньше, вероятно страница была перемещена либо удалена автором или администрацией. Попробуйте повторить попытку позже. Спасибо за понимание.
      <br> <br>
      <div class="action"><a href="/">Вернуться на главную</a></div>
    </div>
  </div>
</div>
{% endblock %}
