<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Файлы - Total Commadner - LunaStore</title>
<script src="./js/search_mini.js"></script>
<link rel="stylesheet" href="./css/main.css">
<link rel="shortcut icon" href="./favicon.ico">

</head>


<body>
  <div class="announcement">Вы сейчас открыли версию сайта <b>на русском языке</b>, однако у нас есть локализация именно под <b>Ваш</b> регион<br>Желаете ли переключиться? <br><br> <a href="?hl=en" id="primary">Yes, change my language</a> - <a href="">Нет, спасибо</a></div>
<div class="container">

  <div class="dm_menu">
    Вы вошли как <a href="/profile.php"><b>dm</b></a> - <a href="/index.php?act=logout&hash=3476ty89mR_hf9er8">выйти</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> | <a href="/help.php?page=projects">прочие проекты</a>

  </div>

  <div class="header">
    <a href="https://myslivets.com"><div class="ls_dm_logo"></div></a>
    <div class="rl_l"><h1 class="txtr">LunaStore</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>
    
    <div class="searchbar">
  <!--[if IE 6]>
  <style type="text/css">
   .searchbar button {padding: 1px 1px;}
   .tail{display: none;}
  </style>
  <![endif]-->
      <input type="text" id="q" placeholder="Например: Total Commander">
      <button type="button" onclick="doSearch()">поиск</button>
      <br>
      <div class="subtitle"><a href="/settings.php?act=search">Уточнить параметры поиска</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    <div class="sidebar">
      <div class="boxhead_primary"><b>Аккаунт</b></div>
      <div class="box">
        
        <ul>
          <a href="/profile.php"><li class="myhome">Мой профиль</li></a>
          <a href="/settings.php"><li class="settings">Настройки</li></a>
          <a href="/profile.php?act=invite"><li class="newbie">Пригласить</li></a>
        </ul>
      </div>

        <div class="boxhead"><b>Категории</b></div>
      <div class="box">
        
        <ul>
          <a href="/index.php"><li class="myhome">Главная страница</li></a>
          <a href="/store.php?show=top20"><li class="top">Приложения месяца</li></a>
          <a href="/store.php?show=updates"><li class="updates">Центр обновлений</li></a>
          <a href="/store.php?cat=1"><li class="entertainment">Игры и развлечения</li></a>
          <a href="/store.php?cat=2"><li class="util">Инструменты</li></a>
          <a href="/store.php?cat=3"><li class="media">Мультимедиа</li></a>
          <a href="/store.php?cat=4"><li class="office">Офисные приложения</li></a>
          <a href="/store.php?cat=5"><li class="internet">Интернет и сети</li></a>
          <a href="/store.php?cat=6"><li class="other">Прочее</li></a>
          <a href="/store.php?show=themes"><li class="themes">Темы оформления</li></a>
        </ul>
      </div>
      
      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" class="adv_img_splash" alt="Реклама"></a>
      </div>

    </div>

    <div class="content">

      <div class="preferences">
          <div class="preferences_info" id="{uid}">
            <div class="preferences_title">Редактирование приложения</div>
            <div style="clear: both"></div>

          </div>
      </div>
      <link rel="stylesheet" href="./css/settings.css"> 
      <link rel="stylesheet" href="./css/profile.css">   
      <link rel="stylesheet" href="./css/tabs.css">
      <!--[if lte IE 6]> <link rel="stylesheet" href="./css/profile_ie6.css" media="screen, projection"> <![endif]-->  

        <div class="tabs">
  <div class="tab-bar">
    <div class="tab" href="/app14?page=edit">
      <img src="./img/tabs/main.png" class="tab-icon" alt="">
      Инфо
    </div>
    <div class="tab active" href="/app14?page=edit_files">
      <img src="./img/tabs/programs.png" class="tab-icon" alt="">
      Файлы
    </div>
    <div class="tab" href="/app14?page=edit_rights">
      <img src="./img/tabs/rights.png" class="tab-icon" alt="">
      Права
    </div>
    <div class="tab" href="/app14?page=stats">
      <img src="./img/tabs/stats.png" class="tab-icon" alt="">
      Статистика
    </div>
    <div class="tab" href="/app14?page=scr">
      <img src="./img/tabs/cam.png" class="tab-icon" alt="">
      Фото
    </div>
  </div>

  <div class="tab-content" id="tab-view">
    <div class="profile_block">Добавление файла</div>
    <div class="profile_block_content">

        <div class="info_splash">Допустимые форматы: .EXE, .CAB, .MSI<br>Максимальный размер файла: 256 Мб</div>
        <form action="/editapp.php?act=upload_file" method="POST" enctype="multipart/form-data">
            <input type="file" id="file-upload" class="action_button" name="myFile" accept=".exe, .cab, .msi" multiple>
        </form>

    </div>
    <br>
    <div class="profile_block">Загруженные версии</div>
    <div class="profile_block_content">
    <table class="app_version_table" cellpadding="0" cellspacing="0">
    <tr>
        <th>Версия</th>
        <th>Дата загрузки</th>
        <th>Действия</th>
        <th>Автор</th>
    </tr>

    <tr onmouseover="rowHover(this, true);" onmouseout="rowHover(this, false);">
        <td>11.56</td>
        <td>31 авг 2025 в 13:56</td>
        <td class="notes"><b>нынешняя</b></td>
        <td>dm</td>
    </tr>

    <tr onmouseover="rowHover(this, true);" onmouseout="rowHover(this, false);">
        <td>11.55</td>
        <td>30 авг 2025 в 9:41</td>
        <td class="notes"><a href="">откатить</a></td>
        <td>alexv</td>
    </tr>

    <tr onmouseover="rowHover(this, true);" onmouseout="rowHover(this, false);">
        <td>11.00</td>
        <td>1 янв 1970 в 3:00</td>
        <td class="notes"><a href="">откатить</a></td>
        <td>rem</td>
    </tr>
</table>
    </div>
    <br>
            <input type="submit" class="action_button" value="Сохранить">
  </div>

</div>


    </div>
  </div>

  <div class="footer">
    <a href="/help.php?page=about">О нас</a> - <a href="/help.php">FAQ</a> - <a href="/help.php?act=privacy">Политика конфиденциальности</a>
    <div style="text-align: right; font-size: 11px;">С душой сделано командой DM, 2025<br>Все права принадлежат исходным правообладателям</div>
  </div>




<!-- Всплывающее окно -->
<div id="login-popup" class="xp-popup">
  <div class="popup-content">
    <b>Авторизация</b><br>У Вас уже есть аккаунт? Представьтесь.<hr>
    <form id="login-form">
      Логин: <br>
      <input type="text" name="login"><br>
      Пароль: <br>
      <input type="password" name="password"><br>
      <button type="submit">Войти</button>
    </form>
  </div>
  <div class="tail"></div>
</div>
<link rel="stylesheet" href="./css/ntf.css">
<script src="./js/ntf.js"></script>


<script type="text/javascript">
/* Балун, совместимый с IE6.
   Как использовать:
     initBalloon('loginBtn'); // привязка к кнопке входа по id
*/


</script>

<!-- Пример: привязать к кнопке с id="loginBtn" -->
<script type="text/javascript">
if (window.attachEvent) {
  window.attachEvent('onload', function(){ initBalloon('loginBtn'); });
} else if (window.addEventListener) {
  window.addEventListener('load', function(){ initBalloon('loginBtn'); }, false);
} else {
  window.onload = function(){ initBalloon('loginBtn'); };
}
</script>

</body>

</html>
