<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>debug</title>
<link rel="stylesheet" href="./css/box.css">
<link rel="stylesheet" href="./css/main.css">
</head>

<body>

<input type="button" value="test window" onclick="showDialog();">

<div id="dialog">

    <div id="dialog_title">
        Жалоба на приложение
        <div id="dialog_close" onclick="hideDialog();"></div>
    </div>

    <div id="dialog_body">
        Вы собираетесь пожаловаться на приложение <b>Total Commander</b><br><br>Укажите причину вашей жалобы и максимально обоснуйте её. Это поможет нам быстрее разобраться с проблемой<br><br>
        
        <div class="radio_group">
            <div class="radio_item">
              <input type="radio" name="choice" id="r1" value="1">
              <label for="r1">Это приложение является вредоносным/фейковым</label>
            </div>

            <div class="radio_item">
              <input type="radio" name="choice" id="r2" value="2">
              <label for="r2">Некорректная информация о приложении</label>
            </div>

            <div class="radio_item">
              <input type="radio" name="choice" id="r3" value="3">
              <label for="r3">Другое</label>
            </div>
          </div>

        Распишите ниже, почему Вы так считаете? (500 символов)<br><br>
        <textarea class="brief_intro" name="whois" cols="500">dfhgfdhfghfgh</textarea>
    </div>

    <div id="dialog_footer">
        <input type="button" value="Отправить жалобу" class="box_action_button" onclick="hideDialog();">
    </div>

</div>

<script src="./js/mainbox.js"></script>
</body>
</html>