{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content">
  <div class="section">
    <h2>{% trans "PAGE_BADBROWSER_WARN_TITLE" %}</h2>
    <div class="separator_store"></div>
    <div class="iewarn">
      <div class="iewarnicon"></div>
      <div class="iewarn_descript_box">
        <b>{% trans "PAGE_BADBROWSER_WARN_SUBTITLE" %}</b>
        <br><br>{% trans "PAGE_BADBROWSER_WARN_DESC_1" %}
        <br><br>{% trans "PAGE_BADBROWSER_WARN_DESC_2" %}
        <br><br>
        <div class="iewarn_restrict_list">
          <li>{% trans "PAGE_BADBROWSER_WARN_RESTRICT_1" %}</li>
          <li>{% trans "PAGE_BADBROWSER_WARN_RESTRICT_2" %}</li>
        </div>
        <br>{% trans "PAGE_BADBROWSER_WARN_DESC_3" %}
        <br><br><b>{% trans "PAGE_BADBROWSER_WARN_FOOTER" %}</b>
      </div>
    </div>
  </div>
</div>
</div>
<div style="clear: both;"></div>
{% endblock %}
