{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <div class="section" style="padding-left: 15px;">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="top" style="padding-right: 15px;">
                    <div class="info_icon"></div>
                </td>
                <td valign="top">
                    <h2 style="margin-top: 0; margin-bottom: 10px;">{% trans "PAGE_BADBROWSER_TITLE" %}</h2>
                    <p style="margin-bottom: 15px;">{% trans "PAGE_BADBROWSER_DESC_1" %}</p>

                    <p>
                        {% trans "PAGE_BADBROWSER_DESC_2" %}
                        <a href="http://legacyupdate.net" target="_blank">Legacy Update</a> &
                        <a href="http://windowsupdaterestored.com" target="_blank">Windows Update Restored</a>.
                        {% trans "PAGE_BADBROSER_DESC_3" %}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
<div style="clear: both;"></div>
{% endblock %}
