{% load i18n %}
{% load static %}
{% load category %}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{% static './css/main.css'%}">
<link rel="stylesheet" href="{% static './css/oprj.css'%}">
<script src="./js/search_mini.js"></script>
<link rel="shortcut icon" href="{% static './favicon.ico'%}">
</head>


<body>
<div class="container">

  <div class="dm_menu">
    {% if user.is_authenticated %}
    {% trans "BASE_AUTHLIKE" %}<a href="/profile.php"><b>{{ user.username }}</b></a> - <a href="/logout.php">{% trans "BASE_LOGOUTBTN" %}</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> |
  {% else %}
  <a href="/login.php" id="login-link">{% trans "BASE_LOGINBTN" %}</a> - <a href="/register.php">{% trans "BASE_REGISTERBTN" %}</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> |
  {% endif %}
  <div class="oprj_layout" id="oprj_layout">
  <div class="oprj" id="oprj">{% trans "BASE_OPRJ_TITLE" %}</div>
  <div class="oprj_list" id="oprj_list">
  
    <div class="oprj_item" data-h="https://myslivets.com">Myslivets.com</div>
    <div class="oprj_item" data-h="http://store.myslivets.com"><b>LunaStore</b></div>
    <div class="oprj_item" data-h="http://games.myslivets.com">{% trans "BASE_OPRJ_GAMESBTN" %}</div>
    <div class="oprj_item" data-h="https://mrim.su">Renaissance<small><font color="red"> new</font></small></div>
    <hr>
    <div class="oprj_item" data-h="https://myslivets.com/projects">{% trans "BASE_OPRJ_OTHERPROJECTSBTN" %}</div>
  </div>
  </div>
  </div>
  

  <div class="header">
    <a href="https://myslivets.com"><div class="ls_dm_logo"></div></a>
    <div class="rl_l"><h1 class="txtr">LunaStore</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>
    
    <div class="searchbar">
  <!--[if IE 6]>
  <style type="text/css">
   .searchbar button {padding: 1px 1px;}
  </style>
  <![endif]-->
      <form action="{% url 'search' %}" method="get" style="display: inline;">
        <input type="text" name="q" id="q" value="{{ request.GET.q|default_if_none:'' }}" placeholder="Например: Total Commander">
        <button type="submit">{% trans "BASE_SEARCHBTN" %}</button>
      </form>
      <br>
      <div class="subtitle"><a href="...">{% trans "BASE_CONFIGSEARCHBTN" %}</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  
    <div class="sidebar">
      
      {% if user.is_authenticated %}
      <div class="boxhead_primary"><b>{% trans "BASE_SIDEBAR_ACCOUNT_TITLE" %}</b></div>
      <div class="box">
        {% with route=request.resolver_match.url_name %}
        <ul>
          <a href="{% url 'profile' %}"><li class="myhome" 
            {% if route == 'profile' %} 
            id="active"{% endif %}>{% trans "BASE_SIDEBAR_ACCOUNT_PROFILEBTN" %}</li></a>
          <a href="{% url 'settings' %}"><li class="settings"
            {% if route == 'settings' %} 
            id="active"{% endif %}>{% trans "BASE_SIDEBAR_ACCOUNT_SETTINGSBTN" %}</li></a>
          <a href="/profile.php?act=invite"><li class="newbie">{% trans "BASE_SIDEBAR_ACCOUNT_INVITEBTN" %}</li></a>
        </ul>
        {% endwith %}
      </div>
      {% endif %}

        <div class="boxhead"><b>{% trans "BASE_SIDEBAR_CATEGORIES_TITLE" %}</b></div>
      <div class="box">
        
        <ul>
          <a href="/index.php"><li class="myhome">{% trans "BASE_SIDEBAR_CATEGORIES_HOME" %}</li></a>
          <aside>{% show_categories active_category=active_category %}</aside>
        </ul>
      </div>
      
      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" alt="Ad"></a>
      </div>

    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
    <a href="/faq.php">О нас (FAQ)</a> - <a href="/help.php?act=privacy">{% trans "BASE_PRIVACYPOLICYBTN" %}</a>
    <div style="text-align: right; font-size: 11px;">{% trans "BASE_FOOTER_TEXT_1" %}<br>{% trans "BASE_FOOTER_TEXT_2" %}</div>
  </div>

  <div id="login-popup" class="xp-popup" action="/login.php">
  <div class="popup-content">
    <b>{% trans "BASE_LOGINPOPUP_TITLE" %}</b><br>{% trans "BASE_LOGINPOPUP_DESC" %}<hr>
    {% csrf_token %}
    <form id="login-form">
      {% trans "BASE_LOGINPOPUP_LOGINFIELD" %} <br>
      <input type="text" name="login"><br>
      {% trans "BASE_LOGINPOPUP_PASSWORDFIELD" %} <br>
      <input type="password" name="password"><br>
      <button type="submit">{% trans "BASE_LOGINPOPUP_LOGINBTN" %}</button>
    </form>
  </div>
  <div class="tail"></div>
</div>
<link rel="stylesheet" href='{% static "./css/ntf.css"%}'>

<script type="text/javascript">
if (window.attachEvent) {
  window.attachEvent('onload', function(){ initBalloon('loginBtn'); });
} else if (window.addEventListener) {
  window.addEventListener('load', function(){ initBalloon('loginBtn'); }, false);
} else {
  window.onload = function(){ initBalloon('loginBtn'); };
}
</script>

<script type="text/javascript">
function doSearch() {
  var q = document.getElementById("q").value.toLowerCase();
  var cards = document.getElementsByTagName("div");
  for (var i=0;i<cards.length;i++) {
    if(cards[i].className=="card") {
      var text = cards[i].innerText || cards[i].textContent;
      if(text.toLowerCase().indexOf(q)!=-1) {
        cards[i].style.display="block";
      } else {
        cards[i].style.display="none";
      }
    }
  }
}
</script>
  </div>

<script src="{% static './js/oprj.js' %}"></script>
<script src='{% static "./js/ntf.js"%}'></script>