{% load i18n %}
{% load static %}
{% load category %}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{% static './css/main.css'%}">
<link rel="stylesheet" href="{% static './css/oprj.css'%}">
<script src="./js/search_mini.js"></script>
<link rel="shortcut icon" href="{% static './favicon.ico'%}">
</head>


<body>
<div class="container">

  <div class="dm_menu">
    {% if user.is_authenticated %}
    {% trans "BASE_AUTHLIKE" %} <a href="/profile.php"><b>{{ user.username }}</b></a> - <a href="/logout.php">{% trans "BASE_LOGOUTBTN" %}</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> | <a href="/other_projects.php">{% trans "BASE_OPRJ_TITLE" %}</a>
    {% else %}
    <a href="{% url 'login' %}" id="login-link">{% trans "BASE_LOGINBTN" %}</a> - <a href="/register.php">{% trans "BASE_REGISTERBTN" %}</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> | <a href="/other_projects.php">{% trans "BASE_OPRJ_TITLE" %}</a>
    {% endif %}
  </div>


  <div class="header">
    <a href="/"><div class="ls_dm_logo"></div></a>
    <div class="rl_l"><h1 class="txtr">LunaStore</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>

    <div class="searchbar">
  <form action="{% url 'search' %}" method="get" style="display: inline;">
        <input type="text" name="q" id="q" value="{{ request.GET.q|default_if_none:'' }}" placeholder="Например: Total Commander">
        <button type="submit">{% trans "BASE_SEARCHBTN" %}</button>
      </form>
      <br>
      <div class="subtitle"><a href="...">{% trans "BASE_CONFIGSEARCHBTN" %}</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    {% if messages %}
        <div class="splash" style="width: auto; margin-bottom: 10px;">
            {% for message in messages %}
                <div class="{% if message.tags == 'error' %}error_splash{% elif message.tags == 'success' %}good_splash{% else %}info_splash{% endif %}">
                    <div class="{% if message.tags == 'error' %}error_icon_small{% elif message.tags == 'success' %}good_icon_small{% else %}info_icon_small{% endif %}"></div>
                    <div class="splash_text">{{ message }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="sidebar">

      {% if user.is_authenticated %}
      <div class="boxhead_primary"><b>{% trans "BASE_SIDEBAR_ACCOUNT_TITLE" %}</b></div>
      <div class="box">
        {% with route=request.resolver_match.url_name %}
        <ul>
          <a href="{% url 'profile' %}"><li class="myhome"
            {% if route == 'profile' %}
            id="active"{% endif %}>{% trans "BASE_SIDEBAR_ACCOUNT_PROFILEBTN" %}</li></a>
          <a href="{% url 'settings' %}"><li class="settings"
            {% if route == 'settings' %}
            id="active"{% endif %}>{% trans "BASE_SIDEBAR_ACCOUNT_SETTINGSBTN" %}</li></a>
          <a href="{% url 'invite_person' %}">
              <li class="newbie" {% if route == 'invite_person' %}id="active"{% endif %}>
                  {% trans "BASE_SIDEBAR_ACCOUNT_INVITEBTN" %}
              </li>
          </a>
        </ul>
        {% endwith %}
      </div>
      {% endif %}

        <div class="boxhead"><b>{% trans "BASE_SIDEBAR_CATEGORIES_TITLE" %}</b></div>
      <div class="box">

        <ul>
          <a href="/index.php"><li class="myhome">{% trans "BASE_SIDEBAR_CATEGORIES_HOME" %}</li></a>
          <aside>{% show_categories active_category=active_category %}</aside>
        </ul>
      </div>

      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" alt="Ad"></a>
      </div>

    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
    <a href="/help_center.php">О нас (FAQ)</a> - <a href="/help_center?page=privacy">{% trans "BASE_PRIVACYPOLICYBTN" %}</a>
    <div style="text-align: right; font-size: 11px;">{% trans "BASE_FOOTER_TEXT_1" %} {% now "Y" %}<br>{% trans "BASE_FOOTER_TEXT_2" %}</div>
  </div>

<link rel="stylesheet" href='{% static "./css/ntf.css"%}'>

<script type="text/javascript">
function doSearch() {
  var q = document.getElementById("q").value.toLowerCase();
  var cards = document.getElementsByTagName("div");
  for (var i=0;i<cards.length;i++) {
    if(cards[i].className=="card") {
      var text = cards[i].innerText || cards[i].textContent;
      if(text.toLowerCase().indexOf(q)!=-1) {
        cards[i].style.display="block";
      } else {
        cards[i].style.display="none";
      }
    }
  }
}
</script>
  </div>

<script src="{% static './js/oprj.js' %}"></script>
<script src='{% static "./js/ntf.js"%}'></script>
</body>
</html>
