{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load category %}
{% block content %}
<title>LunaStore</title>
<div class="content">
<div class="banner_image"><div id="welcome"><div class="banner_text">{{ name }}</div><div class="banner_text_mini">{{ description }}</div></div></div>
        <div class="list_settings">
      <div class="selector">
        <select onchange="location = this.options[this.selectedIndex].value;">
          <option>{% trans "PAGE_CATEGORY_SHOWCONTENTAS" %}</option>
          <option value="{url}">{% trans "PAGE_CATEGORY_SHOWCONTENTASTILES" %}</option>
          <option value="{url}&view=list">{% trans "PAGE_CATEGORY_SHOWCONTENTASLIST" %}</option>
        </select>
      </div>
    </div>
    <div class="section">
    <h2>{% trans "PAGE_CATEGORY_COUNTOFRESULTS" %} {{ count }}</h2>
    </div> 
  <div class="section">
    

<div class="section">
  
  <div class="search_full">
  <input type="text" id="q" class="search_icon" placeholder="Поиск по категории &quot;Игры и развлечения&quot;">
  <button type="button" onclick="doSearch()">{% trans "BASE_SEARCHBTN" %}</button>
  </div>
 </div>  
  {% if is_demo and not is_under_dmca %}
      <div class="st_general_card">
          {% if price > 0 %}
          <div class="st_price demo">{% trans "INFO_APP_DEMOWITHPRICE" %} ${{ price }}</div>
          {% else %}
          <div class="st_price demo">{% trans "INFO_APP_DEMO" %}</div>
          {% endif %}
      </div>
      {% elif not is_demo and not is_under_dmca %}
      <div class="st_general_card">
          {% if price > 0 %}
          <div class="st_price demo">{% trans "INFO_APP_WITHPRICE" %} ${{ price }}</div>
          {% else %}
          <div class="st_price demo">{% trans "INFO_APP_FREE" %}</div>
          {% endif %}
      </div>
      {% endif %}
    {% for app in page_obj %}
    <div class="card listview">
      <img src="{{ app.icon.url }}" alt="">
      <h3>{{ app.title }}</h3>
      <p>{{ app.slogan }}</p>
      {% if app.is_demo %}
        {% if app.price > 0 %}
          <div class="badge demo">{% trans "INFO_APP_DEMOWITHPRICE" %} ${{ app.price }}</div>
        {% else %}
          <div class="badge demo">{% trans "INFO_APP_DEMO" %}</div>
        {% endif %}
      {% elif not app.is_demo %}
        {% if app.price > 0 %}
          <div class="badge paid">${{ app.price }}</div>
        {% else %}  
          <div class="badge free">{% trans "INFO_APP_FREE" %}</div>
        {% endif %}
      {% endif %}
      {% if not app.is_under_dmca %}
        {% if app.is_demo %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_DEMOBTN" %}</a></div>
        {% elif not app.is_demo and app.price > 0 %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_BUYBTN" %}</a></div>
        {% elif not app.is_demo and app.price == 0 %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_INSTALLBTN" %}</a></div>
        {% endif %}
      {% endif %}
    </div>
    <!-- <div class="card listview">
      <img src="./cdn/appsicons/dymvoip.png" alt="">
      <h3>DymVOIP</h3>
      <p>Телефон больше не нужен! Звоните друзьям без теле...</p>
      <div class="badge">$0.99</div>
      <div class="action"><a href="#">Купить</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/winamp.png" alt="">
      <h3>Winamp</h3>
      <p>It really whips the llama's ass!</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/spotify.png" alt="">
      <h3>Spotify</h3>
      <p>Музыка для всех</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/winamp.png" alt="">
      <h3>Winamp</h3>
      <p>It really whips the llama's ass!</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/spotify.png" alt="">
      <h3>Spotify</h3>
      <p>Музыка для всех</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/totalcmd.png" alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href="./storepage.html">Демо</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/totalcmd.png" alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href="./storepage.html">Демо</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/totalcmd.png" alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href="./storepage.html">Демо</a></div>
    </div>
    <div class="card listview">
      <img src="./cdn/appsicons/totalcmd.png" alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href="./storepage.html">Демо</a></div>
    </div> -->
    <div style="clear:both"></div>
    {% endfor %}
    
  </div>
<div class="section">
  <div class="paginator">
    {% for page_num in page_range %}
      {% if page_num == page_obj.paginator.ELLIPSIS %}
        <span>{{ page_num }}</span>
      {% elif page_num == page_obj.number %}
        <a class="active" href="/category.php?id={{ active_category.id }}&page={{ page_num }}">{{ page_num }}</a>
      {% else %}
        <a href="/category.php?id={{ active_category.id }}&page={{ page_num }}">{{ page_num }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

    </div>
  </div>
{% endblock %}