{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load category %}
{% block content %}
<title>LunaStore</title>
<div class="content">
<div class="banner_image"><div id="welcome"><div class="banner_text">{{ name }}</div><div class="banner_text_mini">{{ description }}</div></div></div>
<div class="list_settings">
    <div class="selector">
        <select onchange="window.location.href = '?id={{ active_category.id }}&view=' + this.value;">
                <option value="" disabled {% if not view_mode %}selected{% endif %}>{% trans "PAGE_SEARCH_SORT_PLACEHOLDER" %}</option>
                <option value="tiles" {% if view_mode == 'tiles' %}selected{% endif %}>{% trans "PAGE_SEARCH_SORT_TILES" %}</option>
                <option value="list" {% if view_mode == 'list' %}selected{% endif %}>{% trans "PAGE_SEARCH_SORT_LIST" %}</option>
            </select>
    </div>
</div>
    <div class="section">
    <h2>{% trans "PAGE_CATEGORY_COUNTOFRESULTS" %} {{ count }}</h2>
    </div>
  <div class="section">


<div class="section">

  <div class="search_full">
      <form action="{% url 'search' %}" method="get" class="search_full" style="margin: 0; padding: 0;">

          {% if view_mode == 'list' %}
              <input type="hidden" name="view" value="list">
          {% endif %}

          <input type="text" name="q" id="q" class="search_icon"
                 placeholder="{% trans 'PAGE_CATEGORY_SEARCHOFCATEGORY' %} &quot;{{ name }}&quot;"
                 style="vertical-align: middle;">

          <input type="hidden" name="category" value="{{ active_category.id }}">

          <button type="submit" style="vertical-align: middle;">
            {% trans "BASE_SEARCHBTN" %}
          </button>
        </form>
  </div>
 </div>
    {% for app in page_obj %}
    <div class="card {% if view_mode == 'list' %}listview{% endif %}">
        {% if app.icon_path %}
            <img src="{{ app.icon_url }}" alt="{{ app.title }}">
        {% else %}
            <img src="{% static './img/noavatar_64.jpg' %}" alt="{{ app.title }}">
        {% endif %}
      <h3>{{ app.title }}</h3>
      <p>{{ app.slogan }}</p>
      {% if app.is_demo %}
        {% if app.price > 0 %}
          <div class="badge demo">{% trans "INFO_APP_DEMOWITHPRICE" %} ${{ app.price }}</div>
        {% else %}
          <div class="badge demo">{% trans "INFO_APP_DEMO" %}</div>
        {% endif %}
      {% elif not app.is_demo %}
        {% if app.price > 0 %}
          <div class="badge paid">${{ app.price }}</div>
        {% else %}
          <div class="badge free">{% trans "INFO_APP_FREE" %}</div>
        {% endif %}
      {% endif %}
      {% if not app.is_under_dmca %}
        {% if app.is_demo %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_DEMOBTN" %}</a></div>
        {% elif not app.is_demo and app.price > 0 %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_BUYBTN" %}</a></div>
        {% elif not app.is_demo and app.price == 0 %}
          <div class="action"><a href="./app.php?id={{ app.id }}">{% trans "PAGE_CATEGORY_INSTALLBTN" %}</a></div>
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}

  </div>
<div class="section">
  <div class="paginator">
    {% for page_num in page_range %}
      {% if page_num == page_obj.paginator.ELLIPSIS %}
        <span>{{ page_num }}</span>
      {% elif page_num == page_obj.number %}
      <a class="active" href="/category.php?id={{ active_category.id }}&page={{ page_num }}{% if view_mode %}&view={{ view_mode }}{% endif %}">{{ page_num }}</a>
      {% else %}
      <a href="/category.php?id={{ active_category.id }}&page={{ page_num }}{% if view_mode %}&view={{ view_mode }}{% endif %}">{{ page_num }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

    </div>
  </div>
{% endblock %}
