{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<title>{% trans "PAGE_APP_ADD_TO_COLLECTION" %} - LunaStore</title>

<div class="content">
  <link rel="stylesheet" href="{% static './css/profile.css' %}">
  <link rel="stylesheet" href="{% static './css/settings.css' %}">

  <div class="profile_block">{% trans "PAGE_APP_ADD_TO_COLLECTION" %}</div>
  <div class="profile_subblock">{{ application.title }}</div>

  <div class="profile_block_content">
    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="appid" value="{{ application.id }}">
      {% for col in user_collections %}
      <div style="margin:8px 0;">
        <label>
          <input type="radio" name="collection_id" value="{{ col.id }}" {% if forloop.first %}checked{% endif %}>
          <b>{{ col.title }}</b>
          {% if col.is_system %}({% trans "PAGE_COLLECTION_SYSTEM_BADGE" %}){% endif %}
        </label>
      </div>
      {% empty %}
      <div>{% trans "PAGE_COLLECTION_EMPTY" %}</div>
      {% endfor %}
      {% if user_collections %}
      <input type="submit" class="action_button" value="{% trans 'PAGE_COLLECTION_BTN_ADD_APP' %}">
      {% endif %}
      <a href="{% url 'app' %}?id={{ application.id }}">{% trans "PAGE_COLLECTION_BTN_CANCEL" %}</a>
    </form>
  </div>
</div>
{% endblock %}
