{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load markdown_tags %}

{% block title %}{{ collection.title }} - {% trans "PAGE_COLLECTION_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<div class="content">
  <link rel="stylesheet" href="{% static './css/tabs.css' %}">
  <link rel="stylesheet" href="{% static './css/profile.css' %}">
  <link rel="stylesheet" href="{% static './css/collections.css' %}">

  <div class="tabs">
    <div class="tab-bar">
      {% if user.is_authenticated %}
      <a href="{% url 'collections' %}" class="tab" style="text-decoration:none; color:black; display: inline-block;">
        <img src="{% static './img/tabs/likes.png' %}" class="tab-icon" alt="">
        {% trans "PAGE_COLLECTION_TAB_MINE" %}
      </a>
      <a href="{% url 'collections' %}?page=liked" class="tab" style="text-decoration:none; color:black; display: inline-block;">
        <img src="{% static './img/tabs/fav.png' %}" class="tab-icon" alt="">
        {% trans "PAGE_COLLECTION_TAB_LIKED" %}
      </a>
      {% endif %}
      <a href="{% url 'collections' %}?page=view&id={{ collection.id }}" class="tab active" style="text-decoration:none; color:black; display: inline-block;">
        <img src="{% static './img/tabs/terms.png' %}" class="tab-icon" alt="">
        {% trans "PAGE_COLLECTION_TAB_VIEW" %}
      </a>
    </div>

    <div class="tab-content" id="tab-view">
      <div class="collection_item">
        <div class="collection_ava">
          <table width="100%" id="avatar_col_{{ collection.id }}">
            <tr>
              <td width="32"><img src="{{ mosaic.0 }}" width="32" height="32" alt=""></td>
              <td width="32"><img src="{{ mosaic.1 }}" width="32" height="32" alt=""></td>
            </tr>
            <tr>
              <td width="32"><img src="{{ mosaic.2 }}" width="32" height="32" alt=""></td>
              <td width="32"><img src="{{ mosaic.3 }}" width="32" height="32" alt=""></td>
            </tr>
          </table>
        </div>
        <div class="collection_info">
          <div class="collection_title">{{ collection.title }}</div>
          <div class="collection_desc">{{ collection.description|render_markdown }}</div>
          <div class="collection_date">{% trans "PAGE_COLLECTION_DATE_CREATED" %} {{ collection.created_at|date:"d E Y H:i" }}</div>
          <div class="collection_date">{% trans "PAGE_COLLECTION_DATE_UPDATED" %} {{ collection.updated_at|timesince }}</div>
          <br>
          <div class="collection_actions">
            {% if not collection.is_system %}
            <b>{% blocktranslate count counter=saves_count %}{{ counter }} PAGE_COLLECTION_SAVES_ONE{% plural %}{{ counter }} PAGE_COLLECTION_SAVES_MANY{% endblocktranslate %}</b>
            {% if is_owner %}
            - <a href="{% url 'collections' %}?page=edit&id={{ collection.id }}">{% trans "PAGE_COLLECTION_ACTION_EDIT" %}</a>
            - <a href="{% url 'collections' %}?page=delete&id={{ collection.id }}">{% trans "PAGE_COLLECTION_ACTION_DELETE" %}</a>
            {% elif user.is_authenticated %}
            - <a href="{% url 'collections' %}?act=favorite&id={{ collection.id }}">
              {% if is_favorited %}{% trans "PAGE_COLLECTION_ACTION_UNFAVORITE" %}{% else %}{% trans "PAGE_COLLECTION_ACTION_FAVORITE" %}{% endif %}
            </a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <hr>
      <div class="collection_counter_block">
        {% blocktranslate count counter=apps_count %}{{ counter }} PAGE_COLLECTION_APPS_ONE{% plural %}{{ counter }} PAGE_COLLECTION_APPS_MANY{% endblocktranslate %}
      </div>
      <hr>

      <div class="collection_view">
        {% for app in apps %}
        <div class="collection_view_card"{% if is_owner %} onmouseover="this.className=this.className.replace(' hover','')+' hover';" onmouseout="this.className=this.className.replace(/ hover/g,'');"{% endif %}>
          <a href="{% url 'app' %}?id={{ app.id }}" class="collection_view_icon_link">
            <img src="{{ app.icon_url }}" width="48" height="48" alt="">
          </a>
          <div class="collection_element_info">
            <a href="{% url 'app' %}?id={{ app.id }}" class="collection_card_name_link"><span class="collection_card_name">{{ app.title }}</span></a>
            <p>{% if app.slogan %}{{ app.slogan }}{% endif %}</p>
          </div>
          {% if is_owner %}
          <form method="post" action="{% url 'collections' %}?act=remove_item" class="collection_remove_form">
            {% csrf_token %}
            <input type="hidden" name="collection_id" value="{{ collection.id }}">
            <input type="hidden" name="appid" value="{{ app.id }}">
            <button type="submit" class="collection_remove_x" title="{% trans 'PAGE_COLLECTION_ACTION_REMOVE_APP' %}">
              <img src="{% static './img/close_a.png' %}" width="11" height="11" alt="x">
            </button>
          </form>
          {% endif %}
          <div class="collection_add_clear"></div>
        </div>
        {% empty %}
        <div>{% trans "PAGE_COLLECTION_APPS_EMPTY" %}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
