{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "PAGE_COLLECTION_ADD_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static './css/add_ui.css' %}">
<link rel="stylesheet" href="{% static './css/profile.css' %}">
<link rel="stylesheet" href="{% static './css/collections.css' %}">

<div class="content">
  <div class="profile_block">{% trans "PAGE_COLLECTION_ADD_TITLE" %}</div>

  <div class="profile_block_content">
    <div class="collection_add_app">
      <img class="collection_add_app_icon" src="{{ application.icon_url }}" width="48" height="48" alt="">
      <div class="collection_add_app_info">
        <div class="collection_add_app_title">{{ application.title }}</div>
      </div>
      <div class="collection_add_clear"></div>
    </div>

    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="appid" value="{{ application.id }}">

      <div class="collection_add_list">
        {% for col in user_collections %}
        <div class="collection_add_option">
          <label>
            <input type="checkbox" name="collection_ids" value="{{ col.id }}" {% if col.id in selected_ids %}checked{% endif %}>
            <b>{{ col.title }}</b>
          </label>
        </div>
        {% empty %}
        <div class="collection_add_empty">
          {% trans "PAGE_COLLECTION_ADD_NO_CUSTOM" %}
          <a href="{% url 'collections' %}?page=create">{% trans "PAGE_COLLECTION_BTN_CREATE" %}</a>
        </div>
        {% endfor %}
      </div>

      {% if user_collections %}
      <div class="collection-form-actions">
        <input type="submit" class="action_button" value="{% trans 'PAGE_COLLECTION_BTN_SAVE' %}">
        <a href="{% url 'app' %}?id={{ application.id }}" class="action_button action_button_secondary">{% trans "PAGE_COLLECTION_BTN_CANCEL" %}</a>
      </div>
      {% else %}
      <div class="collection-form-actions">
        <a href="{% url 'app' %}?id={{ application.id }}" class="action_button action_button_secondary">{% trans "PAGE_COLLECTION_BTN_CANCEL" %}</a>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
