{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<title>Debug - LunaStore</title>
<div class="content">
    <h2>{% trans "PAGE_DEBUG_TITLE" %}</h2>
    <div class="info_splash">{% trans "PAGE_DEBUG_DESC" %}</div>
    <h3>{% trans "PAGE_DEBUG_MAININFO_TITLE" %}</h3>

    <h>Method: {{ method }}</h>
    <br>
    <h>User-IP: {{ user_ip }}</h>
    <br>
    <h>User-Agent: {{ user_agent }}</h>
    <br>
    <h>Django Version: {{ django_version }}</h>
    <br>
    <h>Python Version: {{ python_version }}</h>
    <br>
    <h>Server Info: {{ os_info }}</h>
    <br>
    <h>LunaStore version: {{ lunastore_version }}</h>
    <br>
    <br>
    <br>
    <h>Disk Info: {{ disk_info }}</h>
    <br>
    <h>Installed Packages: {{ installed_packages }}</h>
    <br>
    <h>Cache Status: {{ cache_status }}</h>
    <br>
    <h>Server Time: {{ server_time }}</h>
    <br>
    <h>Timezone: {{ time_zone }}</h>
    <br>
</div>
</div>
{% endblock %}
