{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Debug - LunaStore</title>
<div class="content">
    <h2>Информация для тестирования (Debug)</h2>
    <div class="info_splash">Данная страница используется ИСКЛЮЧИТЕЛЬНО для тестирования и для сбора информации для более граммотной подачи bug-report'а. Если Вы видите эту страницу, это значит что в вашем settings.py константа DEBUG = True.</div>
    <h3>Основная информация</h3>
    
    <h>Method: {{ method }}</h>
    <br>
    <h>User-IP: {{ user_ip }}</h>
    <br>
    <h>User-Agent: {{ user_agent }}</h>
    <br>
    <h>Django Version: {{ django_version }}</h>
    <br>
    <h>Python Version: {{ python_version }}</h>
    <br>
    <h>Server Info: {{ os_info }}</h>
</div>
</div>
{% endblock %}