{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "PAGE_DELACC_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<div class="content">
  <div class="preferences">
      <div class="preferences_info" id="{uid}">
        <div class="preferences_title">{% trans "PAGE_DELACC_BLOCK_TITLE" %}</div>
        <div style="clear: both"></div>
      </div>
  </div>

  <link rel="stylesheet" href="{% static './css/settings.css'%}">
  <link rel="stylesheet" href="{% static './css/profile.css'%}">
  <link rel="stylesheet" href="{% static './css/tabs.css'%}">
  <div class="tabs">
    <div class="tab-bar">
      <div class="tab active">
        <img src="{% static './img/tabs/account.png'%}" class="tab-icon" alt="">
        {% trans "PAGE_DELACC_TITLE" %}
      </div>
    </div>

    <div class="tab-content" id="tab-view">
      <div class="delete_account_block">{% trans "PAGE_DELACC_WARNTITLE" %}</div>
      <div class="delete_account_content">
        {% trans "PAGE_DELACC_WARNDESC_1" %}<br><br> {% trans "PAGE_DELACC_WARNDESC_2" %} <b>{% trans "PAGE_DELACC_WARNDESC_3" %}</b>. {% trans "PAGE_DELACC_WARNDESC_4" %}<hr>{% trans "PAGE_DELACC_WARNDESC_5" %}<br><br>

        <table class="app_version_table" cellpadding="0" cellspacing="0">
            <tr>
                <th>{% trans "PAGE_DELACC_YOULEFTHERE_TITLE" %}</th>
                <th>{% trans "PAGE_DELACC_YOULEFTHERE_1" %}</th>
            </tr>

            <tr>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_APP_1" %} {{ apps_count }}</td>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_APP_2" %}</td>
            </tr>

            <tr>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_AVATAR_1" %}</td>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_AVATAR_2" %}</td>
            </tr>

            <tr>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_HISTORY_1" %}</td>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_HISTORY_2" %}</td>
            </tr>

            <tr>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_INVITES_1" %} {{ invites.count }}</td>
                <td>{% trans "PAGE_DELACC_YOULEFTHERE_INVITES_2" %}</td>
            </tr>
        </table>
        <hr>

        {% trans "PAGE_DELACC_LASTPASS_TITLE" %}<br>

        <form method="post" id="delete_confirm_form">
            {% csrf_token %}

            <div class="pref_pad">
                <div class="pref_item_title"></div>
                <input type="password" name="password" class="input-text" required>

                {% if form.password.errors %}
                    <div style="color: red; font-size: 0.9em; margin-top: 5px;">
                        {{ form.password.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <br>

            <div class="action">
                <a href="#" id="delete_acc" onclick="document.getElementById('delete_confirm_form').submit(); return false;">
                    {% trans "PAGE_DELAPP_DELACCOUNTBTN" %}
                </a>
            </div>

        </form>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
