{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% block error_browser_title %}{% trans "PAGE_ERROR_BROWSER_TITLE" %}{% endblock %} - LunaStore{% endblock %}

{% block content %}
<div class="content">
  <div class="preferences">
    <div class="preferences_info">
      <div class="preferences_title">{% block error_heading %}{% trans "PAGE_ERROR_HEADING" %}{% endblock %}</div>
      <div style="clear: both"></div>
    </div>
  </div>

  <link rel="stylesheet" href="{% static './css/settings.css' %}">
  <link rel="stylesheet" href="{% static './css/profile.css' %}">

  <div class="profile_block_content">
    <div class="error_layout">
      {% block error_message %}{% endblock %}
      <br><br>
      <div class="action">
        <a href="{% url 'home' %}">{% trans "404_GO_TO_HOME" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
