{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
<div class="banner_image"><div id="welcome"><div class="banner_text">Добро пожаловать</div><div class="banner_text_mini">Привествтуем в магазине Windows!<br>Огромный сборник приложений и дополнений для комфортной работы с данной ОС</div></div></div>
  <div class="section">
    <h2>Выбор редакции</h2>
    <div class="separator_store"></div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/totalcmd.png"%}' alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href='{% static "./storepage.html"%}'>Демо</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/dymvoip.png"%}' alt="">
      <h3>DymVOIP</h3>
      <p>Телефон больше не нужен! Звоните друзьям без теле...</p>
      <div class="badge">$0.99</div>
      <div class="action"><a href="#">Купить</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/winamp.png"%}' alt="">
      <h3>Winamp</h3>
      <p>It really whips the llama's ass!</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/spotify.png"%}' alt="">
      <h3>Spotify</h3>
      <p>Музыка для всех</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/winamp.png"%}' alt="">
      <h3>Winamp</h3>
      <p>It really whips the llama's ass!</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/spotify.png"%}' alt="">
      <h3>Spotify</h3>
      <p>Музыка для всех</p>
      <div class="badge free">Бесплатно</div>
      <div class="action"><a href="#">Установить</a></div>
    </div>
    <div style="clear:both"></div>
    <div class="card_other_button"><a href="/store.php?show=editorchoice">Ещё...</a></div>
  </div>
  <div class="banner_image"><div id="top20"><div class="banner_text">Приложения месяца</div></div></div>
  <div class="section">
    <h2>Востребованные за последний месяц, по скачиваниям</h2>
    <div class="separator_store"></div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/totalcmd.png"%}' alt="">
      <h3>Total Commander</h3>
      <p>Лучший файловый менеджер для Windows...</p>
      <div class="badge demo">Демо, далее $49.99</div>
      <div class="action"><a href="./storepage.html">Демо</a></div>
    </div>
    <div class="card">
      <img src='{% static "./cdn/appsicons/dymvoip.png"%}' alt="">
      <h3>DymVOIP</h3>
      <p>Телефон больше не нужен! Звоните друзьям без теле...</p>
      <div class="badge">$0.99</div>
      <div class="action"><a href="#">Купить</a></div>
    </div>

<div style="clear:both"></div>
        <div class="card_other_button"><a href="/store.php?show=top20">Ещё...</a></div>
      </div>

      <div class="banner_image"><div id="popular"><div class="banner_text">Популярное</div></div></div>
      <div class="section">

        <div class="card">
          <img src='{% static "./cdn/appsicons/gimp.png"%}' alt="">
          <h3>GIMP</h3>
          <p>GNU Image Manipulation Program</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Скачать</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/copilot.png"%}' alt="">
          <h3>Microsoft Copilot</h3>
          <p>Ваш ИИ-компаньон</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>

        <div class="card">
          <img src='{% static "./cdn/appsicons/office2k3.png"%}' alt="">
          <h3>Microsoft Office 2003</h3>
          <p>Дирижёр для вашего офисного планктона</p>
          <div class="badge demo">Демо</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/supermium.png"%}' alt="">
          <h3>Supernium</h3>
          <p>Интернет-обозреватель</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/office2k3.png"%}' alt="">
          <h3>Microsoft Office 2003</h3>
          <p>Дирижёр для вашего офисного планктона</p>
          <div class="badge demo">Демо</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/supermium.png"%}' alt="">
          <h3>Supernium</h3>
          <p>Интернет-обозреватель</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div style="clear:both"></div>
        <div class="card_other_button"><a href="/store.php?show=top20">Ещё...</a></div>

      </div>

      <div class="banner_image"><div id="themes"><div class="banner_text">Придайте стиль</div><div class="banner_text_mini">Темы оформления как вид самовыражения, только в пределах компьютера конечно :)</div></div></div>
      <div class="section">
        <h2>Темы оформления</h2>
        <div class="separator_store"></div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/gimp.png"%}' alt="">
          <h3>GIMP</h3>
          <p>GNU Image Manipulation Program</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Скачать</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/copilot.png"%}' alt="">
          <h3>Microsoft Copilot</h3>
          <p>Ваш ИИ-компаньон</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>

        <div class="card">
          <img src='{% static "./cdn/appsicons/office2k3.png"%}' alt="">
          <h3>Microsoft Office 2003</h3>
          <p>Дирижёр для вашего офисного планктона</p>
          <div class="badge demo">Демо</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src='{% static "./cdn/appsicons/supermium.png"%}' alt="">
          <h3>Supernium</h3>
          <p>Интернет-обозреватель</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div style="clear:both"></div>
        <div class="card_other_button"><a href="/store.php?show=themes">Ещё...</a></div>

      </div>

    </div>
  </div>
{% endblock %}
