{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="content">
<link rel="stylesheet" href="{% static './css/settings.css'%}">
  <div class="banner_image">
    <div id="welcome">
      <div class="banner_text">{% trans "INDEX_WELCOME_TITLE" %}</div>
      <div class="banner_text_mini">{% trans "INDEX_WELCOME_TEXT" %}</div>
    </div>
  </div>

  <div class="section">
    <h2>{% trans "INDEX_SEARCH_SECTION_TITLE" %}</h2>
    <div class="separator_store"></div>

    <div class="search_full" style="padding: 20px 0 15px;">
        <div class="sidebar" style="display: inline-block; *display: inline; *zoom: 1; position: relative; background: none; border: none; width: auto; float: none; margin: 0; padding: 0;">
          <form action="{% url 'search' %}" method="get" style="margin: 0; padding: 0;">
            <li class="web" style="position: absolute; left: 2px; top: 3px; width: 24px; height: 18px; padding: 0; margin: 0; list-style: none; background-color: transparent; border: none; z-index: 5;"></li>
            <input type="text" name="q" placeholder="{% trans 'INDEX_SEARCH_PLACEHOLDER' %}" style="vertical-align: middle; margin: 0; width: 250px;">
            <button type="submit" style="vertical-align: middle; margin: 0 0 0 5px;">
              {% trans 'INDEX_SEARCH_BTN' %}
            </button>
          </form>
        </div>

      <div style="margin-top: 15px; color: #333; font-size: 11px; text-align: center;">
        <span style="display: block; margin-bottom: 8px;">{% trans "INDEX_CATEGORY_PROMPT" %}</span>

        {% if categories %}
          {% for category in categories %}
            <a href="{% url 'category' %}?id={{ category.pk }}" style="color: #215dc6; text-decoration: none; font-weight: bold;">
              {{ category.name }}
            </a>
            {% if not forloop.last %}
              <span style="color: #9db6d8; margin: 0 4px;">|</span>
            {% endif %}
          {% endfor %}
        {% else %}
          <span style="color: #999;">{% trans "INDEX_NO_CATEGORIES" %}</span>
        {% endif %}
        <br><br>
        <div class="splash">
            <div class="alert_splash">
                <div class="warning_icon_small"></div>
                <div class="splash_text">На данный момент проводится закрытое бета-тестирование. Сейчас вместо разделов и рекомендаций присутствует только возможность поиска. В будущем стартовая страница будет переделана ^_^</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
