{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "PAGE_INVITE_INPUT_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<div class="content">
  <div class="section">
    <h2>{% trans "PAGE_INVITE_INPUT_HEADER" %}</h2>
    <div class="separator_store"></div>

    <div class="invite_block">
        {% trans "PAGE_INVITE_INPUT_DESC_1"|safe %}
        <br><br>
        {% trans "PAGE_INVITE_INPUT_DESC_2"|safe %}

        <div class="register_invite_code action">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="error_splash" style="margin-bottom: 10px;">
                        <div class="error_icon_small"></div>
                        <div class="splash_text">{{ form.non_field_errors.0 }}</div>
                    </div>
                {% endif %}

                <label for="{{ form.code.id_for_label }}">{% trans "PAGE_INVITE_INPUT_LABEL" %}:</label>

                {{ form.code }}

                <input type="submit" value="{% trans "PAGE_INVITE_INPUT_BTN" %} »">
            </form>
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
