<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Пригласить - LunaStore</title>
<script src="./js/search_mini.js"></script>
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/oprj.css">
<link rel="shortcut icon" href="./favicon.ico">

</head>


<body>
  <div class="announcement">Вы сейчас открыли версию сайта <b>на русском языке</b>, однако у нас есть локализация именно под <b>Ваш</b> регион<br>Желаете ли переключиться? <br><br> <a href="?hl=en" id="primary">Yes, change my language</a> - <a href="">Нет, спасибо</a></div>
<div class="container">

  <div class="dm_menu">
    Вы вошли как <a href="/profile.php"><b>dm</b></a> - <a href="/index.php?act=logout&hash=3476ty89mR_hf9er8">выйти</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a> | <a href="/help.php?page=projects">прочие проекты</a>
  </div>

  <div class="header">
    <a href="https://myslivets.com"><div class="ls_dm_logo"></div></a>
    <div class="rl_l"><h1 class="txtr">LunaStore</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>
    
    <div class="searchbar">
  <!--[if IE 6]>
  <style type="text/css">
   .searchbar button {padding: 1px 1px;}
   .tail{display: none;}
  </style>
  <![endif]-->
      <input type="text" id="q" placeholder="Например: Total Commander">
      <button type="button" onclick="doSearch()">поиск</button>
      <br>
      <div class="subtitle"><a href="/settings.php?act=search">Уточнить параметры поиска</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    <div class="sidebar">
      <div class="boxhead_primary"><b>Аккаунт</b></div>
      <div class="box">
        
        <ul>
          <a href="/profile.php"><li class="myhome">Мой профиль</li></a>
          <a href="/settings.php"><li class="settings">Настройки</li></a>
          <a href="/profile.php?act=invite"><li class="newbie" id="active">Пригласить</li></a>
        </ul>
      </div>

        <div class="boxhead"><b>Категории</b></div>
      <div class="box">
        
        <ul>
          <a href="/index.php"><li class="myhome">Главная страница</li></a>
          <a href="/store.php?show=top20"><li class="top">Приложения месяца</li></a>
          <a href="/store.php?show=updates"><li class="updates">Центр обновлений</li></a>
          <a href="/store.php?cat=1"><li class="entertainment">Игры и развлечения</li></a>
          <a href="/store.php?cat=2"><li class="util">Инструменты</li></a>
          <a href="/store.php?cat=3"><li class="media">Мультимедиа</li></a>
          <a href="/store.php?cat=4"><li class="office">Офисные приложения</li></a>
          <a href="/store.php?cat=5"><li class="internet">Интернет и сети</li></a>
          <a href="/store.php?cat=6"><li class="other">Прочее</li></a>
          <a href="/store.php?show=themes"><li class="themes">Темы оформления</li></a>
        </ul>
      </div>
      
      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" class="adv_img_splash" alt="Реклама"></a>
      </div>

    </div>

    <div class="content">
      <link rel="stylesheet" href="./css/settings.css"> 
      <div class="preferences">
          <div class="preferences_info" id="{uid}">
            <div class="preferences_title">Пригласить человека</div>
            <div style="clear: both"></div>
          </div>
      </div>

      <div class="section">
        <div class="invite_block">Вы можете пригласить своего друга или знакомого с одинаковыми интересами по ретро-тематике в LunaStore. </div>
<div class="splash"><div class="info_splash"><div class="info_icon_small"></div><div class="splash_text">На данный момент Вы можете пригласить <b>1</b> человека. После принятия пользователем вашего приглашения, следующее можно будет создать только через неделю</div></div></div>
 
        
        <div class="invite_block">
          Скопируйте этот код ниже и отправьте его нужному Вам человеку
          <br>
          <div class="pre_invite_code_padding">
            <div class="invite_code">H8fd3ve4
            </div>
          </div>
          По E-mail, по телефону, в чате, при встрече - совершенно не важно. Код обязательно нужно ввести приглашаемому пользователю в процессе регистрации.
        </div>
        <br>
        <div class="splash"><div class="alert_splash"><div class="warning_icon_small"></div><div class="splash_text"><b>Важно:</b> на данный момент времени, пригласительный код нового участника меняется каждые 24 часа</div></div></div>
        <br>
        

        <h2>Приглашённые пользователи</h2>
        <div class="separator_store"></div>
        <div class="invite_block">
          <div class="search_error">
            <span>Вы пока ещё никого не приглашали</span>
          </div>
        </div>

      </div>

  </div> </div>

  <div class="footer">
    <a href="/help.php?page=about">О нас</a> - <a href="/help.php">FAQ</a> - <a href="/help.php?act=privacy">Политика конфиденциальности</a>
    <div style="text-align: right; font-size: 11px;">С душой сделано командой DM, 2025<br>Все права принадлежат исходным правообладателям</div>
  </div>




<!-- Всплывающее окно -->
<div id="login-popup" class="xp-popup">
  <div class="popup-content">
    <b>Авторизация</b><br>У Вас уже есть аккаунт? Представьтесь.<hr>
    <form id="login-form">
      Логин: <br>
      <input type="text" name="login"><br>
      Пароль: <br>
      <input type="password" name="password"><br>
      <button type="submit">Войти</button>
    </form>
  </div>
  <div class="tail"></div>
</div>
<link rel="stylesheet" href="./css/ntf.css">
<script src="./js/ntf.js"></script>
<script src="./js/oprj.js"></script>


<script type="text/javascript">
/* Балун, совместимый с IE6.
   Как использовать:
     initBalloon('loginBtn'); // привязка к кнопке входа по id
*/


</script>

<!-- Пример: привязать к кнопке с id="loginBtn" -->
<script type="text/javascript">
if (window.attachEvent) {
  window.attachEvent('onload', function(){ initBalloon('loginBtn'); });
} else if (window.addEventListener) {
  window.addEventListener('load', function(){ initBalloon('loginBtn'); }, false);
} else {
  window.onload = function(){ initBalloon('loginBtn'); };
}
</script>

</body>

</html>
