{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<title>{% trans "PAGE_LOGIN_BROWSER_TITLE" %} - LunaStore</title>

<div class="content">

    {% if request.GET.next or next %}
    <div class="splash" style="max-width: 630px;">
        <div class="alert_splash">
            <div class="warning_icon_small"></div>
            <div class="splash_text">{% trans "PAGE_LOGIN_REQUIRED_WARNING" %}</div>
        </div>
    </div>
    {% endif %}

    <div class="section">
        <h2>{% trans "PAGE_LOGIN_MAIN_TITLE" %}</h2>
        <div class="separator_store"></div>

        <div class="login_wrap">

            <div class="login_block" style="min-height: 250px;">
                <div class="login_header">
                    <div class="login_user_tile"></div>
                    <div class="login_header_text">{% trans "PAGE_LOGIN_GREETING" %}</div>
                </div>

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% elif next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}

                    <div class="field">
                        <label>{% trans "PAGE_LOGIN_USERNAME_LABEL" %}</label>
                        <input type="text" name="username" class="input_text" required>
                    </div>

                    <div class="field">
                        <label>{% trans "PAGE_LOGIN_PASSWORD_LABEL" %}</label>
                        <input type="password" name="password" class="input_text" required>
                    </div>

                    <div class="actions">
                        <input type="submit" value="{% trans 'PAGE_LOGIN_SUBMIT_BTN' %}">
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>

            <div class="info_block">
                <h2>{% trans "PAGE_LOGIN_INFO_TITLE_1" %}</h2>
                <ul>
                    <li class="top">{% trans "PAGE_LOGIN_INFO_BULLET_1" %}</li>
                    <li class="com">{% trans "PAGE_LOGIN_INFO_BULLET_2" %}</li>
                    <li class="uni">{% trans "PAGE_LOGIN_INFO_BULLET_3" %}</li>
                </ul>
                <br>
                <h2>{% trans "PAGE_LOGIN_INFO_TITLE_2" %}</h2>
                {% trans "PAGE_LOGIN_INFO_DESC_2" %}<br><br>
                <a href="{% url 'register' %}">
                    <input type="button" class="action_button" value="{% trans 'PAGE_LOGIN_REGISTER_BTN' %}">
                </a>
            </div>

            <div style="clear:both"></div>
        </div>

    </div>
</div>
</div>
{% endblock %}
