{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
  <div class="section">
    <h2>{% trans "PAGE_REGISTER_TITLE" %}</h2>
    <div class="separator_store"></div>
    
      <div class="error_splash">{% trans "PAGE_REGISTER_CLOSED_MSG" %}</div>
    <div style="clear:both"></div>
  </div>
</div>

<div class="content">
      <div class="section">
        <h2>{% trans "PAGE_REGISTER_TITLE" %}</h2>
        <div class="separator_store"></div>
        <div class="invite_block">
          <div class="error_splash"><div class="error_icon_small"></div><div class="splash_text">{% trans "PAGE_REGISTER_CLOSED_MSG" %}</div></div>
          </div>
        <h2>{% trans "PAGE_REGISTER_HAVE_INVITE_TITLE" %}</h2>
        <div class="separator_store"></div>
      <div class="invite_block">
        {% trans "PAGE_REGISTER_HAVE_INVITE_TEXT" %} 
        <a href="{% url 'invite_code' %}">{% trans "PAGE_REGISTER_CLICK_HERE" %}</a>
        <div style="clear:both"></div>
      </div>

    </div>
{% endblock %}