{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
  <div class="section">
    <h2>{% trans "PAGE_REGISTER_TITLE" %}</h2>
    <div class="separator_store"></div>
    <link rel="stylesheet" href="{% static './css/register.css'%}">
    <div class="regform">
    <div class="info_splash">{% trans "PAGE_REGISTER_INFO_SPLASH" %}</div>
      <div class="register_card">
      <h2>{% trans "PAGE_REGISTER_SECTION_MAIN" %}</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{form.non_field_errors}}
        
        <label>
            <div class="reg_pad"><div class="reg_title">{% trans "PAGE_REGISTER_LABEL_USERNAME" %}</div>
            {% if form.username.errors %}
                <div class="error_splash" style="margin-bottom: 5px;"> 
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}{{form.username}}
            <div class="regform_label">{% trans "PAGE_REGISTER_HELP_USERNAME" %}</div>
          </div>
        </label>

        <label>
            <div class="reg_pad"><div class="reg_title">{% trans "PAGE_REGISTER_LABEL_EMAIL" %}</div>
            {% if form.email.errors %}
                <div class="error_splash" style="margin-bottom: 5px;"> 
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}{{form.email}}
            <div class="regform_label">{% trans "PAGE_REGISTER_HELP_EMAIL" %}</div>
            </div>
        </label>

        <label>
            <div class="reg_pad"><div class="reg_title">{% trans "PAGE_REGISTER_LABEL_PASS1" %}</div>
            {{form.password1.errors}}{{form.password1}}
            <div class="regform_label">{% trans "PAGE_REGISTER_HELP_PASS1" %}</div>
            </div>
        </label>

        <label>
            <div class="reg_pad"><div class="reg_title">{% trans "PAGE_REGISTER_LABEL_PASS2" %}</div>
            {% if form.password2.errors %}
                <div class="error_splash" style="margin-bottom: 5px;"> 
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %} {{form.password2}}
            <div class="regform_label">{% trans "PAGE_REGISTER_HELP_PASS2" %}</div>
            </div>
        </label>

 <label>

            <h2>{% trans "PAGE_REGISTER_SECTION_CONFIRM" %}</h2>

            <div class="alert_splash"> 

                {% trans "PAGE_REGISTER_CAPTCHA_INSTRUCTION" %}<br><br>

                {% if form.captcha.errors %}
                    <div class="error_splash" style="margin-bottom: 5px;"> 
                        {% for error in form.captcha.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %} 

                <div >
                    {{ form.captcha }}
                </div>

            </div>

            
            <label class="agree" for="{{ form.agree_with_site_rules.id_for_label }}">
              {{form.agree_with_site_rules.errors}}
              {{form.agree_with_site_rules}}  
              {{ form.agree_with_site_rules.label }}
            </label>
            
        
            <label class="agree" for="{{ form.agree_with_privacy_policy.id_for_label }}">
              {{form.agree_with_privacy_policy.errors}}
              {{form.agree_with_privacy_policy}}  
              {{form.agree_with_privacy_policy.label}}
            </label>

           

            <br>
            <input type="submit" class="action_button" value="{% trans 'PAGE_REGISTER_BTN_SUBMIT' %}">

        </form>

        </div>

    </div>

        <div style="clear:both"></div>

      </div>

    </div>
  </div>
{% endblock %}