{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load markdown_tags %}

{% block content %}
<title>{% trans "PAGE_REPORTAPP_PAGE_TITLE" %} - {{ name }} - LunaStore</title>

<link rel="stylesheet" href="{% static 'css/stpage.css' %}">
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="content">
    <div class="separator_store"></div>

    <div class="section">
        <div class="st_general_card">
            <div class="st_app_icon">
                <img src="{{ icon }}" alt="{{ name }}" style="width: 48px; height: 48px; display: block; object-fit: contain;">
            </div>

            <div class="st_precard">
                <div class="st_card_title">{{ name }}</div>
                <div class="st_card_desc">{{ slogan|render_markdown }}</div>
                </div>
            <div class="st_clearb"></div>
        </div>

        <div class="st_headerline"></div>

        <div class="st_other_card">
            <div class="profile_block">{% trans "PAGE_REPORTAPP_TITLE" %}</div>

            <div class="profile_block_content">
                <form method="POST">
                    {% csrf_token %}

                    {% trans "PAGE_REPORTAPP_INFO_1" %} <b>{{ name }}</b><br><br>
                    {% trans "PAGE_REPORTAPP_INFO_2" %}<br><br>

                    <div class="radio_group">
                        {% for radio in form.reason %}
                            <div class="radio_item">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    {% trans "PAGE_REPORTAPP_EXPLAIN_LABEL" %}<br><br>
                    {{ form.description }}

                    {% if form.description.errors %}
                        <br>
                        <div class="error_splash">{{ form.description.errors }}</div>
                    {% endif %}

                    <br><br>
                    <input type="submit" value="{% trans 'PAGE_REPORTAPP_SUBMIT_BTN' %}" class="action_button">
                </form>
            </div>
        </div>

        <div class="st_clearb"></div>
    </div>
</div>
</div>
{% endblock %}
