{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<title>{% trans "PAGE_SETTINGS_TITLE" %} - LunaStore</title>
<link rel="stylesheet" href="{% static './css/settings.css'%}">
<link rel="stylesheet" href="{% static './css/profile.css'%}">
<link rel="stylesheet" href="{% static './css/tabs.css'%}">

<div class="content">
    <div class="preferences">
        <div class="preferences_info">
            <div class="preferences_title">{% trans "PAGE_SETTINGS_TITLE" %}</div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="tabs">
        <div class="tab-bar">
            <a href="{% url 'settings' %}" class="tab" style="display: block; text-decoration: none; color: inherit;">
                <img src="{% static './img/tabs/account.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_ACCOUNT" %}
            </a>

            <a href="{% url 'settings_apps' %}" class="tab" style="display: block; text-decoration: none; color: inherit;">
                <img src="{% static './img/tabs/programs.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_APPS" %}
            </a>

            <div class="tab active">
                <img src="{% static './img/tabs/privacy.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_SECURITY" %}
            </div>
        </div>

        <div class="tab-content" id="tab-view">
            <div class="profile_block">{% trans "PAGE_2FA_TITLE" %}</div>
            <div class="profile_block_content">
                <div class="pref_pad">
                    {% trans "PAGE_2FA_MANAGE_INFO" %}
                </div>
                <a href="{% url 'settings_2fa_set' %}" class="action_button" style="display: inline-block; text-decoration: none; text-align: center; margin-top: 10px;">
                    {% trans "PAGE_2FA_MANAGE" %}
                </a>
            </div>
            <br>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="password">
                <div class="profile_block">{% trans "PAGE_SETTINGS_SECTION_PASSWORD" %}</div>
                <div class="profile_block_content">
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_CUR_PASS" %}</div>
                        {{ password_form.current_password }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_NEW_PASS" %}</div>
                        {{ password_form.new_password }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_CONFIRM_PASS" %}</div>
                        {{ password_form.confirm_password }}
                    </div>
                    <input type="submit" class="action_button" value="{% trans 'PAGE_SETTINGS_BTN_SAVE' %}">
                </div>
            </form>
            <br>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="email">
                <div class="profile_block">{% trans "PAGE_SETTINGS_SECTION_CHANGE_EMAIL" %}</div>
                <div class="profile_block_content">
                    <div class="info_splash">{% trans "PAGE_SETTINGS_INFO_EMAIL_CHANGE" %}</div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_CUR_EMAIL" %}</div>
                        {{ email_form.current_email_display }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_NEW_EMAIL" %}</div>
                        {{ email_form.new_email }}
                    </div>
                    <hr>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_CUR_PASS" %}</div>
                        {{ email_form.password_check }}
                    </div>
                    <input type="submit" class="action_button" value="{% trans 'PAGE_SETTINGS_BTN_SAVE' %}">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
