{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<title>{% trans "PAGE_SETTINGS_HTML_TITLE" %} - LunaStore</title>

<link rel="stylesheet" href="{% static './css/settings.css'%}">
<link rel="stylesheet" href="{% static './css/profile.css'%}">
<link rel="stylesheet" href="{% static './css/tabs.css'%}">
<script src="{% static './js/profile_avatar_cdn.js' %}"></script>


<div class="content">
    <div class="preferences">
        <div class="preferences_info">
            <div class="preferences_title">{% trans "PAGE_SETTINGS_TITLE" %}</div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="tabs">
        <div class="tab-bar">
            <div class="tab active">
                <img src="{% static './img/tabs/account.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_ACCOUNT" %}
            </div>

            <a href="{% url 'settings_apps' %}" class="tab" style="display: block; text-decoration: none; color: inherit;">
                <img src="{% static './img/tabs/programs.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_APPS" %}
            </a>

            <a href="{% url 'settings_security' %}" class="tab" style="display: block; text-decoration: none; color: inherit;">
                <img src="{% static './img/tabs/privacy.png' %}" class="tab-icon" alt=""> {% trans "PAGE_SETTINGS_TAB_SECURITY" %}
            </a>
        </div>

        <div class="tab-content" id="tab-view">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="profile">

                <div class="profile_block">{% trans "PAGE_SETTINGS_SECTION_BASIC" %}</div>
                <div class="profile_block_content">
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_USERNAME" %}</div>
                        {{ profile_form.username }}
                        <div class="pref_warn_label">{% trans "PAGE_SETTINGS_WARN_USERNAME_FROZEN" %}</div>
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_EMAIL" %}</div>
                        {{ profile_form.email }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_TELEGRAM" %}</div>
                        {{ profile_form.telegram }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_WEBSITE" %}</div>
                        {{ profile_form.website }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">Discord</div>
                        {{ profile_form.discord }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">OpenVK</div>
                        {{ profile_form.openvk }}
                    </div>
                    <div class="pref_pad">
                        <div class="pref_item_title">{% trans "PAGE_SETTINGS_LABEL_BIO" %}</div>
                        {{ profile_form.description }}
                    </div>
                    {% if dev_status_enabled %}
                        <div class="pref_pad">
                            <strong>{% trans "PAGE_SETTINGS_LABEL_DEV_STATUS" %}</strong>
                            {% if is_developer %}
                                <span>{% trans "PAGE_SETTINGS_DEV_STATUS_HAS" %}</span>
                            {% else %}
                                <a href="{% url 'dev_status' %}" class="action_button">Получить</a>
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                    <input type="submit" class="action_button" value="{% trans 'PAGE_SETTINGS_BTN_SAVE' %}">
                </div>
            </form>
            <br>



            <form method="POST" id="avatar-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="avatar">

                {{ avatar_form.confirm_token }}
                {{ avatar_form.filepath }}

                <div class="profile_block">{% trans "PAGE_SETTINGS_SECTION_AVATAR" %}</div>
                <div class="profile_block_content">
                    <div class="info_splash">{% trans "PAGE_SETTINGS_INFO_AVATAR_RULES" %}</div>

                    <label for="avatar-file">{% trans "PAGE_SETTINGS_LABEL_CHOOSE_FILE" %}</label>
                    <input type="file" id="avatar-file" accept="image/png, image/jpeg, image/webp, image/gif">

                    <button type="submit" id="avatar-submit-btn" class="action_button">
                        {% trans "PAGE_SETTINGS_BTN_UPLOAD" %}
                    </button>
                </div>
            </form>
            <br>

            <div class="delete_account_block">{% trans "PAGE_SETTINGS_SECTION_DELETE" %}</div>
            <div class="delete_account_content">
                {% trans "PAGE_SETTINGS_DELETE_WARNING" %}
                <div class="action">
                    <form method="post" id="delete_init_form">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="init_delete">

                        <div class="action">
                            <a href="#" id="delete_acc" onclick="document.getElementById('delete_init_form').submit(); return false;">
                                {% trans "PAGE_SETTINGS_BTN_DELETE" %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    {% trans "PAGE_SETTINGS_JS_SELECT_FILE" as js_select_file %}
    {% trans "PAGE_SETTINGS_JS_UPLOADING" as js_uploading %}
    {% trans "PAGE_SETTINGS_JS_ERR_TOKEN" as js_err_token %}
    {% trans "PAGE_SETTINGS_JS_ERR_CDN" as js_err_cdn %}
    {% trans "PAGE_SETTINGS_JS_ERR_PREFIX" as js_err_prefix %}

    window.CDN_CONFIG = {
        cdnUploadUrl: "{{ cdn_base_url|escapejs }}/cdn/upload",
        apiTokenUrl: "{{ api_base_url|escapejs }}/method/user/getPubUploadToken/",
        i18n: {
            selectFile: "{{ js_select_file|escapejs }}",
            uploading: "{{ js_uploading|escapejs }}",
            errToken: "{{ js_err_token|escapejs }}",
            errCdn: "{{ js_err_cdn|escapejs }}",
            errPrefix: "{{ js_err_prefix|escapejs }}"
        }
    };
</script>
{% endblock %}
