{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
    <link rel="stylesheet" href='{% static "./css/stpage.css"%}'>

    <div class="separator_store"></div>

    <div class="section">
    <div class="st_general_card">

        <div class="st_app_icon" style="width: 64px; height: 64px; margin-right: 10px; float: left;">
            <img src='{{ icon_url }}' alt="{{ title }} icon" style="width: 64px; height: 64px; border: 0;">
        </div>

        <div class="st_precard" style="width: 320px; float: left; margin-left: 0;">
            <div class="st_card_title" style="font-size: 18px; margin-bottom: 2px;">{{ title }}</div>
            <div class="st_clearb"></div>

            <div class="st_card_desc" style="font-size: 13px; margin-bottom: 2px;">{{ slogan }}</div>
            <div class="st_clearb"></div>

            <div class="st_card_author" style="font-size: 11px;">
                {% trans "PAGE_APP_LABEL_AUTHOR" %} <a href="/profile.php?id={{ developer_id }}">{{ developer_name }}</a>
            </div>
        </div>

        <div class="st_clearb"></div>
    </div>

        {% if not is_dmca %}
        <div class="st_general_card">
            <div class="st_price demo">
              {% if is_demo %}
                  {% if price > 0 %}
                      {% trans "PAGE_APP_PRICE_DEMO_WITH_COST" %} ${{ price }}
                  {% else %}
                      {% trans "PAGE_APP_PRICE_DEMO_FREE" %}
                  {% endif %}
              {% else %}
                  {% if price > 0 %}
                      {% trans "PAGE_APP_PRICE_PAID" %} ${{ price }}
                  {% else %}
                      {% trans "PAGE_APP_PRICE_FREE" %}
                  {% endif %}
              {% endif %}
            </div>

            <b class="setup" style="float: left;">
                <a href="{{ download_page_url }}">
                    <div class="setup_button_img"></div>
                    <div class="st_inst_button">
                        {% if price > 0 and not is_demo %}
                            {% trans "PAGE_APP_BTN_BUY" %}
                        {% else %}
                            {% trans "PAGE_APP_BTN_INSTALL" %}
                        {% endif %}
                    </div>
                </a>
            </b>
            <div class="st_clearb"></div>
        </div>
        {% endif %}
    </div>

    <div class="st_headerline"></div>

    <div class="st_general_card">
        {% if is_demo %}
        <div class="splash">
            <div class="alert_splash">
                <div class="warning_icon_small"></div>
                <div class="splash_text">{% trans "PAGE_APP_MSG_DEMO_WARNING" %}</div>
            </div>
        </div>
        {% endif %}

        {% if is_dmca %}
        <div class="splash">
            <div class="error_splash">
                <div class="error_icon_small"></div>
                <div class="splash_text">{% trans "PAGE_APP_MSG_DMCA_ERROR" %}</div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="st_other_card">
        <h2>{% trans "PAGE_APP_SECTION_SCREENSHOTS" %}</h2>
        <div class="separator_store"></div>

        <div class="st_screenshots_container">
            {% for screenshot_url in screenshot_urls %}
                <div class="st_scr">
                    <a href="{{ screenshot_url }}" target="_blank">
                        <img src="{{ screenshot_url }}" alt="{% trans 'PAGE_APP_IMG_ALT_SCREENSHOT' %}" style="width: 120px; height: 90px; border: 0;">
                    </a>
                </div>
            {% empty %}
                <p>{% trans "PAGE_APP_MSG_NO_SCREENSHOTS" %}</p>
            {% endfor %}
            <div class="st_clearb"></div>
        </div>
    </div>

    <div class="st_other_card">
        <h2>{% trans "PAGE_APP_SECTION_DESC" %}</h2>
        <div class="separator_store"></div>
        <div class="st_desc">{{ description }}</div>
    </div>

    <div class="st_other_card">
        <h2>{% trans "PAGE_APP_SECTION_ACTIONS" %}</h2>
        <div class="separator_store"></div>
        <div class="actionsm">
            {% if developer_site %}
                <li class="offsite"><a href="{{ developer_site }}">{% trans "PAGE_APP_ACTION_SITE" %}</a></li>
            {% endif %}
            <li class="alert"><a href="/report_app.php?id={{ app_id }}">{% trans "PAGE_APP_ACTION_REPORT" %}</a></li>
            <li class="otherapps"><a href="/search.php?page=apps&author_id={{ developer_id|default:1 }}">{% trans "PAGE_APP_ACTION_MORE_APPS" %}</a></li>
        </div>
    </div>

    <div class="st_clearb"></div>
</div>
</div>
{% endblock %}
