{% load static %}
{% load app %}
{% load category %}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Магазин Windows XP</title>
<link rel="stylesheet" href='{% static "./css/main.css"%}'>
</head>


<body>
<div class="container">

  <div class="dm_menu">
    Вы вошли как <a href="/profile.php"><b>dm</b></a> - <a href="/index.php?act=logout&hash=3476ty89mR_hf9er8">выйти</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a>
  </div>

  <div class="header">
    
    <div class="rl_l"><h1>Магазин Windows</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>
    
    <div class="searchbar">
  <!--[if IE 6]>
  <style type="text/css">
   .searchbar button {padding: 1px 1px;}
  </style>
  <![endif]-->
      <input type="text" id="q" placeholder="Например: Total Commander">
      <button type="button" onclick="doSearch()">поиск</button>
      <br>
      <div class="subtitle"><a href="/settings.php?act=search">Уточнить параметры поиска</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    <div><div class="sidebar">

      <div class="boxhead"><b>Приложение</b></div>
      <div class="box">
        
        <ul>
          <a href="{cdn_app_source}"><li class="setup"><b>Установить</b></li></a>
          <a href="{developer_official_site}"><li class="other">Сайт разработчика</li></a>
          <a href="/report.php?act=new&app_id={aid}"><li class="alert">Пожаловаться</li></a>
        </ul>
      </div>

      <div class="boxhead"><b>Аккаунт</b></div>
      <div class="box">
        
        <ul>
          <a href="/profile.php"><li class="myhome">Мой профиль</li></a>
          <a href="/settings.php"><li class="settings">Настройки</li></a>
          <a href="/profile.php?act=invite"><li class="newbie">Пригласить</li></a>
        </ul>
      </div>

      <div class="boxhead"><b>Категории</b></div>
      <div class="box">
        <ul>
            <a href="/index.php"><li class="myhome" id="active">Главная страница</li></a>
            <aside>{% showCategories %}</aside>
        </ul>
      </div>
      
      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" alt="Реклама"></a>
      </div>

    </div></div>

    <aside>{% show_app app_id %}</aside>


</div>
  <div class="footer">
    <a href="/help.php?page=about">О нас</a> - <a href="/help.php">FAQ</a> - <a href="/help.php?act=privacy">Политика конфиденциальности</a>
    <div style="text-align: right; font-size: 11px;">С душой сделано командой DM, 2025<br>Все права принадлежат исходным правообладателям</div>
  </div>
<script type="text/javascript">
function doSearch() {
  var q = document.getElementById("q").value.toLowerCase();
  var cards = document.getElementsByTagName("div");
  for (var i=0;i<cards.length;i++) {
    if(cards[i].className=="card") {
      var text = cards[i].innerText || cards[i].textContent;
      if(text.toLowerCase().indexOf(q)!=-1) {
        cards[i].style.display="block";
      } else {
        cards[i].style.display="none";
      }
    }
  }
}
</script>

</body>

</html>
