<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Магазин Windows XP</title>
<link rel="stylesheet" href="./css/main.css">
</head>


<body>
<div class="container">

  {% if user.is_authenticated %}
  <div class="dm_menu">
    Вы вошли как <a href="/profile.php"><b>{{ user.username }}</b></a> - <a href="/logout.php">выйти</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a>
  </div>
  {% else %}
  <div class="dm_menu">
    <a href="/login.php" id="login-link">вход</a> - <a href="/register.php">регистрация</a> | <a href="http://old.myslivets.com">myslivets.com</a> | <a href="">< prev</a> - <a href="">webring</a> - <a href="">next ></a> | <b>рус</b> - <a href="">eng</a>
  </div>
  {% endif %}

  <div class="header">
    
    <div class="rl_l"><h1>Магазин Windows</h1>
    <div class="subtitle txtr">Windows XP Professional</div>
    </div>
    
    <div class="searchbar">
  <!--[if IE 6]>
  <style type="text/css">
   .searchbar button {padding: 1px 1px;}
  </style>
  <![endif]-->
      <input type="text" id="q" placeholder="Например: Total Commander">
      <button type="button" onclick="doSearch()">поиск</button>
      <br>
      <div class="subtitle"><a href="/settings.php?act=search">Уточнить параметры поиска</a></div>
    </div>
  </div>


  <div class="headerline"></div>

  <div class="main">
    <div class="sidebar">
        <div class="boxhead"><b>Категории</b></div>
      <div class="box">
        
        <ul>
          <a href="/index.php"><li class="myhome">Главная страница</li></a>
          <a href="/store.php?show=top20"><li class="top" id="active">Приложения месяца</li></a>
          <a href="/store.php?show=updates"><li class="updates">Центр обновлений</li></a>
          <a href="/store.php?cat=1"><li class="entertainment">Игры и развлечения</li></a>
          <a href="/store.php?cat=2"><li class="util">Инструменты</li></a>
          <a href="/store.php?cat=3"><li class="media">Мультимедиа</li></a>
          <a href="/store.php?cat=4"><li class="office">Офисные приложения</li></a>
          <a href="/store.php?cat=5"><li class="internet">Интернет и сети</li></a>
          <a href="/store.php?cat=6"><li class="other">Прочее</li></a>
          <a href="/store.php?show=themes"><li class="themes">Темы оформления</li></a>
        </ul>
      </div>
      
      <div class="adv_block">
        <a href="{ad_link}"><img src="./ad/ad.png" alt="Реклама"></a>
      </div>

    </div>

    <div class="content">
      <div class="banner_image"><div id="top20"><div class="banner_text">Приложения месяца</div></div></div>
      <div class="section">
        <h2>Топ-20 приложений за последний месяц, по скачиваниям</h2>
        <div class="separator_store"></div>
        <div class="card">
          <img src="./cdn/appsicons/totalcmd.png" alt="">
          <h3>Total Commander</h3>
          <p>Лучший файловый менеджер для Windows...</p>
          <div class="badge demo">Демо, далее $49.99</div>
          <div class="action"><a href="./storepage.html">Демо</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/dymvoip.png" alt="">
          <h3>DymVOIP</h3>
          <p>Телефон больше не нужен! Звоните друзьям без теле...</p>
          <div class="badge">$0.99</div>
          <div class="action"><a href="#">Купить</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/winamp.png" alt="">
          <h3>Winamp</h3>
          <p>It really whips the llama's ass!</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/spotify.png" alt="">
          <h3>Spotify</h3>
          <p>Музыка для всех</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/winamp.png" alt="">
          <h3>Winamp</h3>
          <p>It really whips the llama's ass!</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/spotify.png" alt="">
          <h3>Spotify</h3>
          <p>Музыка для всех</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>

        <div class="card">
          <img src="./cdn/appsicons/gimp.png" alt="">
          <h3>GIMP</h3>
          <p>GNU Image Manipulation Program</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Скачать</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/copilot.png" alt="">
          <h3>Microsoft Copilot</h3>
          <p>Ваш ИИ-компаньон</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>

        <div class="card">
          <img src="./cdn/appsicons/office2k3.png" alt="">
          <h3>Microsoft Office 2003</h3>
          <p>Дирижёр для вашего офисного планктона</p>
          <div class="badge demo">Демо</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>
        <div class="card">
          <img src="./cdn/appsicons/supermium.png" alt="">
          <h3>Supernium</h3>
          <p>Интернет-обозреватель</p>
          <div class="badge free">Бесплатно</div>
          <div class="action"><a href="#">Установить</a></div>
        </div>

<div style="clear:both"></div>
      </div>

    </div>
  </div>

  <div class="footer">
    <a href="/help.php?page=about">О нас</a> - <a href="/help.php">FAQ</a> - <a href="/help.php?act=privacy">Политика конфиденциальности</a>
    <div style="text-align: right; font-size: 11px;">С душой сделано командой DM, 2025<br>Все права принадлежат исходным правообладателям</div>
  </div> 

<script type="text/javascript">
function doSearch() {
  var q = document.getElementById("q").value.toLowerCase();
  var cards = document.getElementsByTagName("div");
  for (var i=0;i<cards.length;i++) {
    if(cards[i].className=="card") {
      var text = cards[i].innerText || cards[i].textContent;
      if(text.toLowerCase().indexOf(q)!=-1) {
        cards[i].style.display="block";
      } else {
        cards[i].style.display="none";
      }
    }
  }
}
</script>

</body>

</html>
