/* ура новый выпуск шоу "костыли" */
/* зато работает кста */

.st_general_card{
    padding: 10px;
    display: flex;           
    align-items: flex-start; 
    gap: 15px;
}

.st_card_info {
    overflow: hidden;
}

.st_app_icon{
    float: left;
    display: block; 
    width: 80px;  
    height: 80px;
}

.st_card_title{
    float: left;
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.st_card_author{
    float: left;
    display: inline-block;
    margin-left: 15px;
    font-size: 11px;
}

.st_card_desc{
    float: left;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
}

.st_clearb{
    clear: both;
}

.st_price{
  float: right;
  font-weight:bold;
  font-size:14px;
  color:#b20000;
}
.st_price.free {
  color:#5fa359;
}

.st_price.demo{
  color:#ff7300;
}

.st_headerline{
    height: 2px;
    background: #294b76 url('../img/headline.png');
}

.st_inst_button{
    display: block;
    font-weight: bold;
    margin-left: 35px;
    font-size: 16px;
    margin-top: 3px;
    float: right;
}

.setup_button_img a{
    text-decoration: none;
    color: #000;
}

.setup_button_img a:hover{
    text-decoration: none;
    color: #414141;
}

.setup_button_img a:active{
    text-decoration: none;
    color: #b20000;
}

.setup_button_img{
    /*! position: absolute; */
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/arrowsprite.png) no-repeat;
    float: right;
    margin-left: 5px;
}
.setup_button_img:active {
    background-position: -56px 0;
}

.setup_button_img:disabled {
    background-position: -84px 0;
}

.section{
    padding: 0px;
}

.st_other_card{
    padding: 10px;
}

.st_scr {
  max-width: 100px;
  max-height: 90px;
  width: 100px;
  height: 90px;
  border:3px solid #d2e9ff;
  background:#fff;
  margin:5px;
  padding: 3px;
}
.st_scr img {
  width: 100px;
  height: 90px;
  margin-right:6px;
}
.st_screenshots_container::after {
    content: "";
    display: block;
    clear: both;
}

.st_scr a {
    color: #000;
    text-decoration: none;
}

.setup a{
    color: #000;
    text-decoration: none;
}

.setup a:hover{
    color: #5fa359;
    text-decoration: none;
}

.setup a:active{
    color: #b20000;
    text-decoration: none;
}

.st_desc{
    padding: 10px;
}

/* костыль для адекватного отображения описания приложения в IE6 */
.st_precard{
    float: left;
    text-align: left;
	width: 345px;
}