{# unfold textarea wrapped with shared markdown toolbar #}
<div class="md-editor-container">
    <div class="md-toolbar">
        <button type="button" class="md-btn" onclick="insertTag(this, '**', '**')"><b>B</b></button>
        <button type="button" class="md-btn" onclick="insertTag(this, '*', '*')"><i>I</i></button>
        <span class="md-btn-sep">|</span>
        <button type="button" class="md-btn md-btn-note" onclick="insertTag(this, '> [!NOTE]\n> ', '\n')">Note</button>
        <button type="button" class="md-btn md-btn-tip" onclick="insertTag(this, '> [!TIP]\n> ', '\n')">Tip</button>
        <button type="button" class="md-btn md-btn-important" onclick="insertTag(this, '> [!IMPORTANT]\n> ', '\n')">Important</button>
        <button type="button" class="md-btn md-btn-warning" onclick="insertTag(this, '> [!WARNING]\n> ', '\n')">Warning</button>
        <button type="button" class="md-btn md-btn-caution" onclick="insertTag(this, '> [!CAUTION]\n> ', '\n')">Caution</button>
        <span class="md-btn-sep">|</span>
        <button id="edit" type="button" class="md-sw-mode" data-field-name="{{ widget.name }}" onclick="toggleMdMode(this)"></button>
    </div>
    <textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
    <div id="mdpreview_{{ widget.name }}" class="md-preview" style="display: none;"></div>
</div>
