{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<title>{% trans "PAGE_PASSWORD_RESET_CONFIRM_TITLE" %} - LunaStore</title>

<div class="content">
    <div class="section">
        <h2 style="zoom: 1; position: relative;">{% trans "PAGE_PASSWORD_RESET_HEADER" %}</h2>
        <div class="separator_store" style="zoom: 1; position: relative;"></div>

        <div class="login_wrap">
            <div class="login_block" style="min-height: 250px;">
                <div class="login_header">
                    <div class="login_user_tile"></div>
                    <div class="login_header_text">{% trans "PAGE_PASSWORD_RESET_CONFIRM_HEADER" %}</div>
                </div>

                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="error_splash" style="margin-bottom: 10px;">
                            <div class="error_icon_small"></div>
                            <div class="splash_text">{{ form.non_field_errors.0 }}</div>
                        </div>
                    {% endif %}
                    
                    {% for field in form %}
                    <div class="field">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="error_splash" style="margin-bottom: 10px;">
                            <div class="error_icon_small"></div>
                            <div class="splash_text">{{ field.errors.0 }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}

                    <div class="actions">
                        <input type="submit" value="{% trans 'PAGE_PASSWORD_RESET_CONFIRM_SUBMIT_BTN' %}" class="action_button" style="overflow: visible;">
                    </div>
                </form>
                {% else %}
                <div style="padding: 15px; line-height: 1.6; color: red;">
                    {% trans "PAGE_PASSWORD_RESET_CONFIRM_INVALID_LINK" %}
                </div>
                {% endif %}
                <div style="clear:both"></div>
            </div>

            <div class="info_block">
                <h2>{% trans "PAGE_PASSWORD_RESET_CONFIRM_INFO_TITLE" %}</h2>
                {% trans "PAGE_PASSWORD_RESET_CONFIRM_INFO_TEXT" %}
            </div>
            <div style="clear:both"></div>
        </div>

    </div>
</div>
</div>
{% endblock %}
