{% load i18n %}
<body style="margin: 0; padding: 0; font-family: Tahoma, Arial, sans-serif;">

<style>
table.lunamail{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	height: auto;
}
table.lunamail,table.lunamail td, table.lunamail th {
	border: none;
}
table.lunamail td,table.lunamail th {
	padding: 5px;
}
table.lunamail th {
	background: #2b67b3;
	color: #fff; 
	font-weight: normal;
}

a{
    text-decoration: none;
    color: #2b67b3;
}

a:hover{
    color: #392bb3;
}
</style>

    <div style="width: 450px; margin: 50px auto;">
        <div style="border: 1px solid #2b67b3; padding: 10px;">
            <table class="lunamail" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="vertical-align: middle; padding-right: 8px;"><img src="cid:logo_small.png" alt="LunaStore" width="16" height="16" style="display: block;"></td>
                    <td style="vertical-align: middle;"><b>{% trans 'PAGE_PASSWORD_RESET_TITLE' %}</b></td>
                </tr>
            </table>

            <table class="lunamail" cellspacing="0" cellpadding="0">
                <tr>
                    <td>{% trans 'PAGE_PASSWORD_RESET_EMAIL_GREETING' %}, <b>{{ user.get_username }}</b>
                    <br><br>
                    {% trans 'PAGE_PASSWORD_RESET_EMAIL_TEXT_1' %}<br><br><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br><br>{% trans 'PAGE_PASSWORD_RESET_EMAIL_TEXT_2' %}
                    <br><br>
                    {% trans 'PAGE_PASSWORD_RESET_EMAIL_REGARDS' %}
                    </td>
                </tr>
            </table>


            <table class="lunamail" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <small><font color="#a0a0a0">Вы получили это письмо, поскольку данный E-mail привязан к аккаунту. {% trans 'PAGE_PASSWORD_RESET_EMAIL_FOOTER' %}</font></small>
                    </td>
                </tr>
            </table>


        </div>
    </div>

</body>