{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "PAGE_PASSWORD_RESET_COMPLETE_TITLE" %} - LunaStore{% endblock %}

{% block content %}
<div class="content">
    <div class="section">
        <h2 style="zoom: 1; position: relative;">{% trans "PAGE_PASSWORD_RESET_HEADER" %}</h2>
        <div class="separator_store" style="zoom: 1; position: relative;"></div>

        <div class="login_wrap">
            <div class="login_block" style="min-height: 200px;">
                <div class="login_header">
                    <div class="login_user_tile"></div>
                    <div class="login_header_text">{% trans "PAGE_PASSWORD_RESET_COMPLETE_HEADER" %}</div>
                </div>

                <div style="padding: 15px; line-height: 1.6;">
                    {% trans "PAGE_PASSWORD_RESET_COMPLETE_TEXT_1" %}<br><br>
                    <a href="{% url 'login' %}" class="action_button" style="display:inline-block;">{% trans 'PAGE_PASSWORD_RESET_COMPLETE_LOGIN_BTN' %}</a>
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="info_block">
                <h2>{% trans "PAGE_PASSWORD_RESET_COMPLETE_INFO_TITLE" %}</h2>
                {% trans "PAGE_PASSWORD_RESET_COMPLETE_INFO_TEXT" %}
            </div>
            <div style="clear:both"></div>
        </div>

    </div>
</div>
</div>
{% endblock %}
